body
	text-transform: uppercase
	text-align: center
	
	.test
		font-family: $pt
		font-size: 26px
		border: 1px solid red
		padding: 10px 25px
		display: inline-block
		color: #fff
		background: #000
		border-radius: 25px
		margin-top: 15px
		font-weight: 700
		line-height: 0.4
		vertical-align: top
		
		&.rc
			font-family: $rc
			// padding: 11px 25px 9px

	
	