input[type='number']
	-moz-appearance: textfield;
input[type='submit']
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
input::-webkit-clear-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none;
input[type="password"]
	font: small-caption
	line-height: 1.65
input
	box-shadow : none
	font-family: $pt
	color: #000
	+rem(font-size,16px)
	+placeholder 
		font-family: $pt
svg
	display: inline-block
	max-width: 100%
	max-height: 100%
	// path
	// 	fill: inherit !important
	// 	stroke: inherit !important
button
	background: 0 0
a
	text-decoration: none
	transition: color .3s
	color: $hover
*
	+box
	// -webkit-tap-highlight-color: rgba(252, 239, 141, 0.41)
	-webkit-tap-highlight-color: transparent
	+placeholder 
		font-family: $pt
		+rem(font-size,16px)
textarea
	line-height: 1.5
	resize: none
ul
	li>a 
		display: inline-block
		width: 100%
html
	font-size: 16px
	line-height: 1
	overflow-x: hidden
	+r(1150)
		font-size: 15px
  // +r(1280)
  //   font-size: 14px
  // +r(991)
  //   font-size: 16px
  //   // &:not(.bx-ios)
  //   overflow-x: hidden
  // +r(769)
  //   font-size: 15px
	// +r(600)
	// 	font-size: 15px
body
	background-color: #fff
	+box
	+font-smoothing
	text-rendering: optimizeLegibility
	font-family: $pt
	min-width: 320px
	& ::selection
		background-color: #fcef8d
		color:#000
	& ::-moz-selection
		background-color: #fcef8d
		color:#000

body, .out,html
	width: 100%
	height: 100%
	overflow-x: hidden
	&.modal_open
		overflow: hidden
.out
	position: relative
	-webkit-overflow-scrolling: touch;
.page__header--wrap
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 20
	visibility: hidden
#logob
	width: 100%
	height: 100%
	display: inline-block
	
.page
	&__wrapper
		background-color: #fff
		display: flex
		flex-wrap: nowrap
		flex-direction: column
		min-height: 100%
		overflow-x: hidden
	&__outer
		width: 100%
		display: block
		height: 100%
	&__header
		background: $white
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		position: relative
		visibility: visible
		box-shadow: 0px 0px 20px 0px rgba( 214, 190, 59 ,.15);
		&-drop
			display: block
			width: 100%
			position: absolute
			top: calc(100% + 1px)
			left: 0
			right: 0
			// background-color: #fff
			// box-shadow: 0px 5px 20px 0px rgba(183, 174, 122, 0.15);
			// max-height: 0px
			overflow: hidden
			// opacity: 0
			margin-top: -1px
			min-height: 0px
			height: 0
			+gpu
			will-change: height
			transition:  min-height .25s ,border-color .25s, height .25s, padding-bottom .25s
			&.is-shown
				+rem(padding-bottom,25px)
				+rem(min-height,210px)
				transition-delay: .1s
				.page__header-drop-cont:after
					opacity: 1
				.page__header-drop-cont:before
					background-color: #e9e9e3
			&-cont
				+rem(max-width, 1210px)
				width: 100%
				display: flex
				flex-flow: column nowrap
				+rem(margin, 0 auto)
				background-color: #fff
				+rem(padding-left, 277px)
				&:before
					content: ''
					position: absolute
					height: 1px
					top: 0
					right: 0
					left: 0
					background-color: transparent
					display: block
					+tr(background-color .3s)
				&:after
					content: ''
					position: absolute
					left: 0
					right: 0
					+rem(bottom,25px)
					height: 100%
					background-color: #fff
					z-index: -1
					box-shadow: 0px 5px 20px 0px rgba(183, 174, 122, .15);
					opacity: 0
					transition: opacity .25s, height .25s

				+r(1250)
					+rem(padding-left, 255px)
				+r(1150)
					padding-left: 19%
			&-item
				font-size: 0
				position: relative
				max-height: 0
				overflow: hidden
				opacity: 0
				&.is-shown
					+rem(max-height,532px)
					transition: max-height 0s .2s, padding 0s .2s, opacity .1s .2s
					opacity: 1
					+rem(padding, 20px 0)
				&.col-3
					+rem(max-width, 790px)
					.page__header-drop-list
						li
							width: 32%
						a 
							+rem(padding, 10px 10px 10px 0)
				&.col-4
					+rem(max-width, 1000px)
					+rem(margin-right, -20px)
					.page__header-drop-list
						li
							width: 25%
							// &:nth-child(4n-1)
							// 	width: 28%
							// &:nth-child(4n-2)
							// 	width: 22%
						a 
							+rem(padding, 14px 14px 14px 0)
			&-list
				width: 100%
				display: flex
				flex-flow: row wrap
				justify-content: flex-start
				align-items: flex-start
				li
					a 
						+rem(font-size,16px)
						color: #000
						line-height: 1.125
						display: inline-block
						width: 100%
						&:hover
							color: $hover

				
		+r(991)
			transition: transform .3s
		&:not(.is-hidden)
			.page__header-logo-small
				+rm(991)
					transform: translateY(120%)
					opacity: 0
					visibility: hidden
		&.is-hidden
			.page__header-drop-cont
				+rem(padding-left,76px)

				+r(1230)
					+rem(padding-left,90px)
			+r(991)
				transform: translateY(-100%)
			+rm(991)
				.page__header-logo-big
					transform: translateY(120%)
					opacity: 0
					visibility: hidden
					height: 0
				.page__header-nav-bottom
					order: 1
					padding-right: 5%
					// +r(1250)
					// 	padding-right: 2%
					// 	+rem(min-width,450px)
					.top-nav
						span
							+rem(padding-top,28px)
							+rem(padding-bottom,27px)
							&:before
								+rem(bottom,1px)
							&:after
								+rem(top, 34px)
						&:not(:last-child)
							padding-right: 11.5%
							// +r(1250)
							// 	padding-right: 9.5%
				.page__header-search
					order: 2
					.o-menu-search
						margin-top: 0
						+rem(padding-top,18px)
						+rem(padding-bottom,30px)
						+rem(min-width,200px)
				.page__header-button
					order: 4
					+rem(padding-top,18px)
					+r(1150)
						+rem(padding-left,18px)
						.btn
							font-size: 0
							padding: 20px !important
							&:before
								border: none !important
				.page__header-logo
					+rem(flex-basis,45px)
					+rem(padding, 10px 0)
					flex-shrink: 0
				.page__header-main
					+rem(height, 72px)
				.page__header-nav-top,.page__header-soc,.page__header-contact .text2
					display: none
				.page__header-content
					flex-flow: row nowrap
					align-content: center
					+rem(padding-left,30px)
					justify-content: space-between
				.page__header-contact
					position: static
					order: 3
					+rem(padding-top,25px)
					padding-left: 1.5%
					.contact-item
						line-height: 1
						+rem(font-size,16px)
						.text-bold
							+rem(font-size,16px)
					a:not(.contact-item)
						+rem(font-size,12px)
						color: $gray
						transform: translateY(-3px)
						&:after
							background-color: $gray
		&-main
			display: flex !important
			flex-flow: row nowrap
			+rem(height,125px)
			+tr(height .2s)
			+rm(1210)
				padding: 0 5px !important
			+r(991)
				+rem(height, 72px)
		&-nav
			&-top,&-bottom
				white-space: nowrap
				.top-nav
					white-space: nowrap
				+r(991)
					display: none
			&-top
				padding-right: 3.5%
				+rem(min-width,300px)
				+rem(padding-bottom, 2px)
				+r(1150)
					padding-right: 4%
					+rem(min-width,233px)
			&-bottom
				padding-right: 5.1%
				+rem(min-width,451px)
				+r(1150)
					padding-right: 4%
					+rem(min-width,421px)
		&-logo
			text-align: center
			flex-basis: 26.5%
			overflow: hidden
			+rem(padding,8px 0 18px)
			+r(1150)
				flex-basis: 23.5%
			+r(991)
				+rem(flex-basis,45px)
				+rem(padding, 10px 0)
				flex-shrink: 0
			&-big,&-small
				display: block
				width: 100%
				height: 100%
				+contain
				transition: transform .2s .1s, opacity .2s
			&-big
				+r(991)
					display: none
		&-button
			+rem(padding-top,8px)
			.btn
				white-space: nowrap
			+r(991)
				order: 2
				+rem(padding, 15px 0 15px 15px)
				.btn
					font-size: 0
					padding: 20px !important
					&:before
						border: none !important
		&-contact 
			position: absolute
			+rem(top,16px)
			text-align: right
			+rem(right,-4px)
			+rm(1150)
				padding-right: 2.1%
			+r(991)
				order: 1
				position: static

			.contact-item
				+rem(font-size,22px)
				white-space: nowrap
				+r(1150)
					.text-bold
						+rem(font-size,18px)
				+r(991)
					.text-bold
						+rem(font-size,20px)
						+rem(padding, 25px 0)
				+r(375)
					.text-bold
						+rem(font-size,17px)	
						+rem(padding, 26px 0)
			a:not(.contact-item)
				position: relative
				display: inline-block
				+rem(padding-bottom,3px)
				+rem(font-size,16px)
				color: $active
				transition: color .2s, padding .2s
				+r(991)
					display: none
				&:hover
					&:after
						width: 0
				&:after
					position: absolute
					left: 0
					height: 1px
					background-color: $active
					content: ''
					width: 100%
					bottom: 0
					transition: color .2s, width .2s, transform .2s
			.text2
				color: $grayy
				line-height: 1.05
				+rem(margin-top,13px)
				+r(991)
					display: none		
		&-content
			display: flex
			flex-flow: row wrap
			flex-grow: 1
			align-content: flex-end
			padding-left: 5.1%
			position: relative
			contain: paint
			+r(1150)
				padding-left: 2.5%
			+screen(1150,1250)
				+rem(padding-right, 100px)
			+r(991)
				justify-content: flex-end
				flex-flow: row nowrap
		&-soc
			padding-left: 4%
			padding-right: 5%
			+r(1150)
				padding-left: 2.1%
				padding-right: 2%
			+r(991)
				display: none
			.soc-wrapp
				+rem(margin-top,-11px)
		&-search
			+r(991)
				display: none
			.o-menu-search
				width: 100%
				+rem(margin-top,-15px)
		&-search,&-soc,&-nav-top
			+rem(height,33px)
		&-search
			+rem(max-width,225px)
		&-hamburger
			order: 3
			+rem(padding, 25px 0 20px 17px)
			+rm(991)
				display: none
	&__footer
		position: relative
		flex: 0 0 auto
		background-color: #e9e8e3
		flex-flow: row wrap
	&__content
		+rem(padding,125px 10px 100px 10px)
		flex: 1 0 auto
		+r(991)
			+rem(padding,72px 10px 100px 10px)
		* 
		+rm(768)
			+scrollbar
				+rem(width,4px)
			::-webkit-scrollbar-thumb 
				+rem(width,6px)
				+rem(border-radius,3px)
				background: #888888
				cursor: pointer
//burger
.hamburger
  +rem(width, 24px)
  +rem(height, 18px)
  +rem(top, 35px)
  left: 0
  +r(991)
    +rem(top, 15px)
  &-inner 
    width: 100%
    height: 100%
    +rem(padding, 15px 10px)
    cursor: pointer
    position: relative
    text-align: center
    div 
      display: block
      position: relative
      +rem(width, 24px)
      +rem(height, 17px)
    span 
      height: 3px
      width: 100%
      display: block
      background-color: #000
      position: absolute
      opacity: 1
      left: 0
      will-change: transform
      transform: rotate(0deg)
      transition: 0.2s ease-in
      z-index: 1
      &:nth-child(1) 
        top: 0
      &:nth-child(2)
        +rem(top, 8.5px)
      &:nth-child(3)
        +rem(top, 18px)
        z-index: 4
// top nav with dropdown
.top-nav
	font-family: $rc
	text-transform: uppercase;
	line-height: 1
	display: inline-block
	vertical-align: top
	+tr(padding-right .3s)
	&.icon
		span
			position: relative
			&:after
				position: absolute
				content: ''
				display: inline-block
				+rem(right, -15.5px)
				+rem(top, 20.5px)
				+rem(width,8px)
				+rem(height,5px)
				+contain
	&.top
		+rem(font-size,14px)
		color: #bfbfbf
		margin-top: -6px
		+rem(padding-top,2px)
		font-weight: 400
		&.icon
			span
				&:after
					+rem(top, 3.5px)
					+rem(right, -13.5px)
					+rem(width,8px)
					+rem(height,4px)
					background-image: url(../img/icons/i-arr-bl.png)
		&:not(:last-child)
			padding-right: 15.5%
			+r(1150)
				padding-right: 7%
		span
			display: inline-block
			transform-origin: left
	&.bottom
		+rem(font-size,18px)
		color: #000
		font-weight: 700
		span
			+rem(padding-bottom,32px)
			+rem(padding-top,15px)
			position: relative
			display: inline-block
			&:before
				position: absolute
				content: ''
				bottom: 0
				height: 2px
				background-color: $hover
				+tr(width .3s)
				display: inline-block
				width: 0
				left: auto
				right: 0
		&:hover,&.active
			span:before
				width: 100%
				left: 0
				right: 0
			span:after
				transform: scale(1,-1)
		&.icon
			span:after
				background-image: url(../img/icons/i-arr-b.png)
		&:not(:last-child)
			padding-right: 10%
			+r(1150)
				padding-right: 7%
.title
	font-family: $rc
	color: #000
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.091;
	text-align: left;
	&.h1
		+rem(font-size,66px)
	&.h2
		+rem(font-size,42px)
		line-height: 1.095;
	&.h3
		+rem(font-size, 36px)
		line-height: 1.091;
	&.h4
		+rem(font-size, 22px)
		line-height: 1.182;
	&.link
		.link-arr
			display: inline-block
			+rem(height,30px)
			+rem(width,30px)
			vertical-align: top
			+rem(margin-top,7px)
			+rem(margin-left,7px)
			border-radius: 50%
			transition: box-shadow .25s
			svg
				vertical-align: top
				use
					fill: #fff
					stroke: $hover
					color: #000
					transition: fill .25s
		&:hover
			+rm(991)
				.link-arr
					box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
					use
						fill: $hover
						stroke: $hover
						color: #000
		&:active
			.link-arr
				use
					fill: $active
					stroke: $active

blockquote
	+rem(font-size,17px)
	font-family: $pt
	color: $grayf
	line-height: 1.5;
	+rem(letter-spacing,0.2px)
.text
	+rem(font-size,17.4px)
	font-family: $pt
	color: $grayf
	line-height: 1.5;
	&.bold
		font-weight: 700
		color: #000
.text2
  font-size: 13.994px;
  font-family: $pt
  color: #6e6e6e
  line-height: 1.571;
.text-bold
	+rem(font-size,20px)
	font-family: $pt
	color: #000
	font-weight: bold;
	line-height: 1.2;
	&.price
		+rem(font-size,18px)
		line-height: 1.333;
	&.small
		+rem(font-size,16px)
		line-height: 1.375;
//search
.o-menu-search
	+box
	.search__wrapper
		+rem(height,34px)
		+rem(border-radius, 19px)
		border: 1px solid #e1e1e1
		position: relative
		transition: border-color .15s
		&:hover
			border-color: #b7b7b7
		&.in-focus
			border-color: $hover
			.search__btn
				stroke: $hover
	.search__input
		+rem(border-radius, 17.2px)
		display: inline-block
		+rem(padding-left,20px)
		+rem(padding-right,35px)
		+rem(padding-top,7px)
		+rem(padding-bottom,7px)
		display: inline-block
		width: 100%
		+rem(font-size,14px)
		height: 100%
		+placeholder 
			font-size: 13px
			font-family: $pt
			color: rgb( 109, 109, 109 )
			line-height: 1.6
		&::-moz-placeholder
			// line-height: 1.7
			
		&:valid
			&~.search__btn
				fill: $hover
				stroke: $hover
		&:not(:valid)
			&~.search__btn
				pointer-events: none
				cursor: default
				
	.search__btn
		display: inline-block
		position: absolute
		height: 100%
		+rem(width,45px)
		background: 0 0
		top: 0
		right: 0
		+rem(border-radius, 17.25px)
		fill: #c8c8c8
		stroke: #c8c8c8
		transition: fill .25s, stroke .25s
		cursor: pointer
		.search-icon
			display: inline-block
			height: 100%
			width: 100%
			+vertical
			svg
				display: inline-block
				+rem(height,17px)
				+rem(width,17px)
				vertical-align: middle
		&:hover
			fill: $hover
			stroke: $hover
//footer row links
.link-f
	+rem(font-size,17px)
	font-family: $rc
	color: $linlb
	font-weight: 700
	text-transform: uppercase;
	+tr(color .3s)
	&:hover
		+rm(870)
			color: $hover
	&:active
		color: $active
.box
	+rem(max-width,1210px)
	width: 100%
	display: block
	margin: 0 auto
	+padlr(15px)
	&-section
		+rem(margin-top, 100px)
		+rem(margin-bottom, 128px)
		+r(1210)
			+padlr(5px)
		+r(735)
			+rem(margin-top, 60px)
			+rem(margin-bottom, 65px)
		&-text
			font-size: 0
			+r(1210)
				+rem(max-width, 800px)
				margin: 0 auto
			&-title,&-quote
				display: inline-block
				vertical-align: top
				+r(735)
					min-width: 100%
			&-title
				width: 34.2%
				+rem(padding-right,30px)
				+rem(padding-top,10px)
				white-space: nowrap
			&-quote
				width: 65.8%
				blockquote
					+rem(max-width,540px)
					+rem(padding-top,11px)
					+r(735)
						+rem(font-size,16px)

.wrapper
	+rem(margin-left, -10px)
	+rem(margin-right, -10px)
.romb-slider
	&-wrap
		+rem(max-width,1025px)
		margin: 0 auto
	&-inner
		+rem(margin-top,80px)
		position: relative
		+rem(padding-right,120px)
		+r(1150)
			+rem(padding-right,80px)
		+r(630)
			+rem(padding,0)
			+rem(margin-right,-15px)
			+rem(margin-left,-15px)
		.nav-arrows
			position: absolute
			right: 2.5%
			top: 50%
			transform: translateY(-50%)
			display: flex
			flex-flow: column nowrap
			align-items: center
			.carousel-next
				+rm(630)
					order: 1
			.carousel-prev
				+rm(630)
					order: 2			
			.slick-arrow
				+rm(630)
					display: flex
					+rem(margin, 0 auto 10px)
			+r(630)
				+rem(right, 10px)
				+rem(left, 10px)
				flex-flow: row nowrap
				justify-content: space-between
	&-main
		&.slick-initialized
			.romb-item-item
				+tr(opacity .3s)
				&:not(.slick-active):not(.slick-cloned)
					opacity: 0
.romb-item
	&-item 
		position: relative
		display: inline-block
		&:hover
			.romb-item-text
				color: $hover
		&:active
			.romb-item-text
				color: $active
	&-text
		position: absolute
		+rem(left,25px)
		+rem(top, 35px)
		z-index: 2
		+rem(max-width, 160px)
		+tr(color .3s)
		+r(630)
			left: 50%
			+rem(margin-left, -100px)
	&-wrap
		+rem(width, 250px)
		overflow: hidden
		+r(630)
			width: 100%
			+rem(max-width, 250px)
			margin: 0 auto
	&-middle
		padding-bottom: 115.5%
		transform: rotate(-60deg) skewY(30deg)
	&-inner
		+coverdiv
		+cover
		transform: skewY(-30deg) rotate(60deg)
		


// buttons
.btn 
	line-height: 1
	display: inline-block
	+rem(font-size,16px)
	font-family: $pt 
	+rem(border-radius,5px)
	border: 1px solid #b7b7b7
	color: #000
	+rem(padding, 12px 16px)
	+rem(letter-spacing,-0.3px)
	transition: color .3s, border-color .3s
	-webkit-tap-highlight-color: transparent
	&:not(.yell)
		+rem(border-radius,5px)
	&:hover
		+rm(870)
			color: $active
	&:active
		border-color: $active
	&.btn-big
		+rem(font-size,18px)
		font-family: $rc
		text-transform: uppercase
		font-weight: 700
		+rem(padding, 14px 19px)
		+rem(border-radius,3px)
		+rem(letter-spacing,0px)
		&:not(.yell)
			+rem(border-radius,3px)
		&.yell
			+rem(letter-spacing,-0.3px)
			+rem(padding, 15px 19px)
			+rem(border-radius,1px)
	&.yell
		font-family: $pt
		background-color: $hover
		border: none
		+tr(background-color .3s)
		text-transform: none
		color: #000
		font-weight: 400
		&:hover
			color: #000
			+rm(870)
				background-color: $ihover
		&:active
			background-color: $active
		&.i-left
			+rem(padding, 10px 13px 10px 51px)
			+rem(border-radius,2px)
			position: relative
			&:before
				position: absolute
				content: ''
				+rem(width,41px)
				left: 0
				top: 0
				bottom: 0
				border-right: 1px solid #d3ba34
				+contain
				background-image: url(../img/icons/calendar.png)
				+rem(background-size, 30px 30px)
//cards small
.card
	&-item
		display: inline-block
		+rem(height,205px)
		+rem(width,372.5px)
		+cover
		position: relative
		z-index: 1
		+tr(box-shadow .3s)
		+rem(margin-top, 30px)
		+r(1150)
			+rem(margin-top, 20px)
		+r(735)
			width: 100%
			+rem(max-width,372.5px)
		&:after
			content: ''
			+coverdiv
			background-color: #FFF
			opacity: 0
			+tr(opacity .3s)
		&:hover
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
			&:after
				opacity: .2
			.small-block
				background-color: $ihover
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
		&-wrap
			display: inline-block
			vertical-align: top
			+rem(padding-right,30px)
			+r(1150)
				+rem(padding-right,20px)
			+r(735)
				padding-right: 0
				max-width: 100%
		&-type
			position: absolute
			+rem(top,19px)
			+rem(left,27px)
			z-index: 3
		&-content
			+rem(padding,75px 115px 30px 27px)
			position: relative
			z-index: 2
			+r(735)
				+rem(padding,75px 100px 30px 27px)
			.title
				overflow: hidden
				&:not(:only-child)
					white-space: nowrap
					text-overflow: ellipsis
				&:only-child
					+rem(padding-top,21px)
					text-overflow: ellipsis
					-webkit-line-clamp: 3
					-webkit-box-orient: vertical
					display: -webkit-box
			.text
				+rem(font-size, 15.2px)
				+rem(margin-top,5px)
				text-overflow: ellipsis
				-webkit-line-clamp: 3
				-webkit-box-orient: vertical
				display: -webkit-box;
				overflow: hidden
//little orange blocks
.small-block
	+rem(font-size,13px)
	text-transform: uppercase;
	line-height: 1.385;
	color: #000
	+rem(border-radius, 3px)
	background-color: $hover
	display: inline-block
	font-weight: 400
	+rem(padding,3px 10px)
	font-family: $rc
	transition: box-shadow .3s, background-color .3s
	& a
		&:hover
			background-color: $hover
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2)
	&.small

.index
	&-wrapper
		+cover
		+rem(padding-top,40px)
		overflow: hidden
		+r(1150)
			background-size: auto 100%
		+r(735)
			background-position: left 15% top
			+rem(padding-bottom,20px)
		&-inner
			flex-flow: row nowrap
			align-items: stretch
			display: flex
			+rm(1350)
				+rem(margin-right,-30px)
			+r(735)
				flex-direction: column
				position: relative
				
	&-main
		flex-basis: 67%
		+r(991)
			flex-basis: 45%
			position: relative
			z-index: 3
		+r(735)
			flex-basis: 40%
		& >.title
			+rem(margin, 62px 0 26px)
			+r(991)
				+rem(margin, 42px 0 26px)
				width: 142%
			+r(735)
				font-size: 10vw
				width: 100%
				position: relative
				z-index: 2
		.text-bold
			+rem(letter-spacing, -0.4px)
			+r(735)
				font-size: 4vw
				max-width: 40vw
		.card-wrapper
			display: flex
			flex-flow: row wrap
			align-items: flex-start
			+rem(margin, 58px 0 54px)
			+r(1150)
				justify-content: center
			+r(991)
				+rem(margin, 25px 0 44px)
			+r(735)
				margin-top: 38%
				margin-bottom: 0
			+r(480)
				margin-top: 45%
			.card-item
				+rm(991)
					width: 100%
					+rem(max-width,372.5px)
					&-wrap
						width: 50%
	&-aside
		flex-basis:	33%
		+rem(max-width, 450px)
		+rem(margin-right,-50px)
		flex-direction: column
		justify-content: flex-end
		position: relative
		+r(991)
			flex-basis:	55%
			+rem(max-width, 550px)
			+rem(padding-top,100px)
		+r(735)
			padding-bottom: 100%
			height: 100%
			padding-top: 0
			position: absolute
			height: 0
			top: 0
			// right: 0
			+rem(right, -30px)
			// width: 40vh
			width: 60%
			max-width: 100%
		+r(480)
			padding-bottom: 120%
			width: 65%
			// max-width: 32vh
		&-inner
			position: absolute
			+coverdiv

//slick-dots
.slick-dots
	li
		+rem(padding, 0 7px)
	button
		border: none
		box-shadow: none
		background-color: #e1e1e1
		+tr(background-color .3s)
	li.slick-active
		button
			background-color: $hover
.doctor-slider
	&-wrapper
		height: 100%
		position: relative
		overflow: hidden
		width: 100%
		.slick-list,.slick-track
			height: 100%
	&-container
		height: 100%
		position: absolute
		+coverdiv
		&-item
			height: 100%
			+contain
			background-position: right bottom
	&-block
		position: absolute
		+rem(bottom, 62px)
		z-index: 4
		width: 100%
		padding-left: 24.5%
		+r(735)
			bottom: 13%
			padding-left: 0
			left: -19%
		+r(480)
			left: -35%
		+r(350)
			left: -40%
			bottom: 9%
		.text
			+rem(max-width, 230px)
			+rem(font-size,15px)
			+r(480)
				+rem(max-width, 190px)
			&:not(.blod)
				line-height: 1.5;
				text-overflow: ellipsis
				-webkit-line-clamp: 4
				-webkit-box-orient: vertical
				display: -webkit-box
				overflow: hidden		
				+r(480)
					+rem(font-size, 13px)
			&.bold
				+rem(font-size, 18px)
				+r(480)
					+rem(font-size, 15px)
				// +rem(margin-bottom,8px)
		.nav-dots
			+rem(margin-top,10px)
		.slick-dots
			text-align: left
			position: static
			+rem(margin-left, -5px)
	&-add
		&-item
			&-inner
				display: flex
				flex-flow: column nowrap
				justify-content: flex-end
			.bold
				line-height: .5;
			+tr(opacity .35s)
			opacity: 0
			&.slick-current,&.slick-cloned
				opacity: 1
				+tr(opacity .35s .2s)
.footer
	&__main
		display: flex
		flex-flow: row wrap
		anlign-content: flex-start
		border-bottom: $bb 
		+r(1130)
			justify-content: space-between
		+r(870)
			flex-flow: column wrap
			justify-content: flex-start
	&-main-nav
		width: 100%
		border-bottom: $bb
		align-content: center
		+r(870)
			order: 2
			+rem(margin-top,-40px)
			position: relative
			z-index: 2
			+rem(padding-bottom,20px)
			.link-f
				+rem(padding, 10px 0)
				min-width: 33.33%
				height: auto
		+r(600)
			.link-f
				min-width: 50%
		.link-f
			+rem(padding-top,63px)
			+rem(padding-bottom,63px)
			height: 100%
			display: inline-block
			padding-right: 2.6%
	&-dop
		&-nav
			flex-basis: 60%
			flex-shrink: 1
			font-size: 0
			+r(870)
				order: 3
				+rem(padding-bottom,20px)
				&>.text-bold
					+rem(margin-top,25px)
					+rem(margin-bottom,15px)
		&-item
			display: inline-block
			vertical-align: top
			width: 50%
			+rem(max-width,302px)
			+rem(padding-right,30px)
			+r(870)
				+rem(padding-right,15px)
			&:nth-of-type(2n)
				+rem(padding-right,25px)
				+r(870)
					padding-right: 0
			a 
				color: $grayf
				+rem(font-size,18px)
				+rem(padding,11px 0 10px)
				line-height: 1.444;
				+r(870)
					+rem(font-size,16px)	
				+r(400)
					+rem(font-size,15px)	
					word-break: break-word
				&:hover
					+rm(870)
						color: #000
	&-tel 
		+rem(flex-basis,330px)
		position: relative
		+r(870)
			order: 1
			+rem(padding-top, 43px)
			&> .text-bold
				display: none
			&-button
				position: static
				+rem(margin-bottom,20px)
				
		&-button
			position: absolute
			left: 0
			+rem(top, -92px)
			+r(1010)
				left: auto
				right: 0
		&-nums
			+rem(padding-top,9px)
			+rem(padding-bottom,33px)
			border-bottom: $bb
		&-item
			+rem(margin-top,20px)
			display: block
			.text-bold
				font-family: $rc
				+rem(font-size,22px)
				+rem(letter-spacing,0.5px)
			&:first-child
				+rem(margin-top,3px)
				.text-bold
					+rem(font-size,36px)
					+rem(letter-spacing,0.8px)
					+r(600)
						+rem(font-size,30px)
				.footer-tel-text
					+rem(margin-top,4px)
		&-text
			display: block
			+rem(margin-top,6px)
			color: #9f9e9b
			+rem(font-size,16px)
		&-contact
			background-position: right bottom
			background-repeat: no-repeat
			+rem(padding-bottom,63px)
			+rem(margin-right,-50px)
			+rem(background-size, 194px 190px)
			+r(870)
				display: none
				
			.text-bold
				+rem(margin-top, 25px)
				+rem(margin-bottom, 10px)
				+rem(font-size,17px)
			.text
				+rem(margin-top, 10px)
				+rem(margin-bottom, 22px)
				color: #9f9e9b
				line-height: 1.3;
				+rem(font-size,15px)
			&-inner
				+rem(max-width,215px)
	&-tel,&-dop-nav
		&>.text-bold
			+rem(font-size,19px)
			+rem(margin-top,58px)
			+rem(margin-bottom,33px)
			display: block
	&__footer
		display: block
		font-size: 0
		+rem(padding, 55px 0)
		+r(950)
			display: flex
			flex-flow: row wrap
			+rem(padding, 35px 0)
			.soc-wrapp
				order: 2
				text-align: center
			&-developer
				order: 4
			&-notify
				order: 3
				.text2
					+rem( max-width, 350px)
			&-copy
				order: 1
				+rem(padding-top,30px)
				position: relative
				.footer__footer-copy-link
					position: absolute
					+rem(top, -20px)
					left: 0

		.text2
			color: #9f9e9b
			+rem(letter-spacing, -0.2px)
		&-developer
			font-size: 0
			white-space: nowrap
		&-copy,&-notify,.soc-wrapp,&-developer
			display: inline-block
			vertical-align: top
			+r(950)
				min-width: 50%
		&-notify,&-developer
			+r(600)
				min-width: 100%
				text-align: left
				+rem(padding, 10px 0)
				// +rem(padding, 10px 0)
		&-copy
			width: 26%
			+r(600)
				white-space: nowrap
			&-link
				display: inline-block
				+rem(padding-left,32px)
				color: $grayl
				+rem(font-size,14px)
				+rem(margin-top,18px)
				span
					position: relative
					display: inline-block
					&:after
						content: ''
						position: absolute
						display: inline-block
						height: 1px
						left: 0
						width: 100%
						+rem(bottom,-3px)
						right: 0
						background-color: $grayl
						+tr(all .3s)
			&:hover
				span:after
					right: auto
					width: 0
		.soc-wrapp
			width: 15.5%
			+rem(margin-top,-2px)
		&-developer
			width: 25%
			text-align: right
			
		&-notify
			width: 33.5%
			.text2 
				+rem(max-width, 220px)
.soc
	&-wrapp
		+rem(max-width, 200px)
		&-item
			display: inline-block
			vertical-align: top
			+rem(width,25px)
			+rem(height,25px)
			+rem(margin-right,6px)
			+rem(margin-left,6px)
			border-radius: 50%
			+tr(background-color .3s)
			text-align: center
			+vertical
			svg
				vertical-align: middle
				+rem(max-height,12px)	
			&.vk
				background-color: #77b1e6
				+rm(900)
					&:hover
						background-color: #5897d2
			&.fb
				background-color: #3f84d5
				+rm(900)
					&:hover
						background-color: #3671b7
			&.in
				background-color: #bb9b8c
				+rm(900)
					&:hover
						background-color: #af8673
			svg
				+rem(width, 15px)
.footer
	&-developer
		font-size: 0
		&-icon,&-text,
			display: inline-block
			vertical-align: middle
			+rem(margin-left,13px)
		&-link
			display: block
			.text2
				display: inline-block
				vertical-align: middle
			&:hover
				svg
					fill: #fa453c
		&-icon
			+rem(width, 22px)
			+rem(height, 22px)
			+rem(margin-right,-5px)
			svg
				fill: #000
				+tr(fill .3s)
		&-text
			color: #000
			+rem(font-size,16px)
			color: #000
			font-family: $rc
			font-weight: 700
			transform: scaleY(0.9)
			transform-origin: 50%
			+rem(margin-top,2px)
  // line-height: 1.869;
.wrapper
	&.gray
		position: relative
		background-color: #fafafa
		.box
			z-index: 2
			position: relative
			.half-main
				+rem(padding, 105px 0 135px)
				+r(991)
					+rem(padding, 45px 0 65px)
.block-cover
	&-img
		position: absolute
		right: 0
		bottom: 0
		left: 0
		+rem(top,-55px)
		z-index: 1
		background-repeat: no-repeat
		background-size: 72%
		background-position: left -10px top
		contain: strict
		+r(1380)
			background-size: 85%
		+r(991)
			top: 0
			background-position: left -20% bottom 32%
		+r(735)
			background-size: 140%
			background-position: left 50% bottom 32%
		+r(544)
			background-size: 160%
			background-position: left 40% bottom 32%
		&~.box
			.half-aside
				vertical-align: bottom
				.yellow-form
					// +rem(margin-bottom,-60px)
					margin-bottom: -12%
					+r(1500)
						margin-left: 5%
						margin-bottom: 9%
					+r(991)
						margin-bottom: 0
						margin-top: -22%
						margin-bottom: 2%
					+r(735)
						margin: 0 auto 2%
					// +r(1280)
					// 	margin-bottom: 14%
				

.half
	&-block
		font-size: 0
		+r(991)
			display: flex
			flex-flow: column nowrap
	&-aside,&-main
		+rm(991)
			display: inline-block
			vertical-align: top
		min-height: 1px
		// +r(991)
		// 	min-width: 100%
	&-aside
		width: 100%
		max-width: 43%
		+r(1230)
			max-width: 35%
		+r(991)
			order: 2
			+rem(max-width,800px)
			margin: 0 auto
	&-main
		width: 100%
		max-width: 57%
		+r(1230)
			max-width: 65%
		+r(991)
			order: 1
			align-items: flex-end
			justify-content: flex-end
			+rem(max-width, 800px)
			margin: 0 auto

.info
	&-block
		font-size: 0
		&-inner,&-aside
			display: inline-block
			vertical-align: top
			+rem(min-height, 1px)
			+r(768)
				min-width: 100%
		&-inner
			width: 67%
			+rem(padding-right,20px)
			+r(991)
				width: 71%
			.title
				+rem(margin-bottom,28px)
				display: inline-block
		&-aside
			width: 33%
			height: 100%
			+rm(991)
				+rem(min-height, 330px)
			+r(991)
				width: 29%
			.hexa-block
				+rem(margin-top,70px)
				+r(768)
					display: none
					
.hexa-block
	position: relative
	text-align: left
	.hexa
		position: absolute
		z-index: -1
		+rem(width, 100px)
		overflow: hidden
		&-in
			transform: rotate(-60deg) skewY(30deg)
			background-color: $hover
			padding-top: 115.5%
	.text.bold
		+rem(padding, 50px 0 0 50px)
		+rem(max-width, 180px)
.feachure
	&-list
		font-size: 0
		+r(991)
			text-align: right
			+rem(margin, 60px 30px)
		+r(735)
			+rem(margin, 40px 0px 0)		
	&-item
		position: relative
		text-align: left
		&-wrap
			display: inline-block
			vertical-align: top
			width: 33.33%
			+rem(margin-top,25px)
			+r(991)
				width: 50%
				+rem(max-width, 245px)
				margin-left: 50%
			+r(600)
				width: 55%
				+rem(max-width, 245px)
				margin-left: 45%


		.text-bold
			+rem(padding, 0 25px 0 45px)
			+rem(margin-top,-2px)
			+rem(min-height, 43px)
			+r(420)
				padding-right: 0
				+rem(font-size,17px)
			// +r()
		img
			position: absolute
			left: 0
			top: 0
			+rem(max-width, 32px)

.yellow
	&-form
		+rem(padding, 28px 28px 38px 28px)
		background-color: $hover
		+rem(border-radius,2.5px)
		+rem(max-width,304px)
		+tr(box-shadow .3s)
		&:hover
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

		&-img
			display: block
			+rem(height, 23.5px)
			+contain
			background-position: left center
		&-text
			+rem(margin, 25px -4px 31px 0)
			font-weight: bold;
			line-height: 1.5;
			+rem(font-size,19px)
		&-main
			background-color: #FFF
			+rem(border-radius,2.5px)
			border-color: #fff
			+rem(border-width, 3px)
			border-style: solid
			position: relative
			+rem(height,38px)
			overflow: hidden
			&-submit
				background-color: $hover
				background-image: url(../img/icons/i-arrow.png)
				position: absolute
				right: 0
				top: 0
				bottom: 0
				+rem(width,32px)
				+rem(border-radius, 2.5px)
				+contain
				+rem(background-size, 7px 15px)
				+tr(background-color .3s)
				&:hover
					background-color: $ihover
			&-input
				+rem(line-height,30px)
				width: 100%
				height: 100%
				+rem(padding-right,40px)
				+rem(padding-left,10px)
				+placeholder 
					+rem(font-size,16px)
					color: $grayy
.news
	&-box
		+rem(margin-top, 108px)
		+r(991)
			+rem(margin-top, 68px)
		+r(600)
			+padlr(5px)
			+rem(margin-top, 58px)
		.news-wrapper
			border-bottom: $bb
			+rem(padding-bottom,60px)
			+r(991)
				+rem(padding-bottom,30px)
	&-title
		display: block
		max-width: 33.33%
		margin: 0 auto
		+rem(padding-bottom,70px)
		+rem(padding-left,10px)
		+r(700)
			max-width: 100%
			+rem(padding-bottom,45px)
			+rem(padding-left,0)
	&-wrapper
		font-size: 0
		+rem(margin-right,-30px)
		+clr
	&-item
		+rem(padding-right,30px)
		display: inline-block
		+rem(min-height,205px)
		float: left
		width: 33.3%
		+r(920)
			width: 50%
		+r(600)
			width: 100%
			+rem(min-height,0px)
		&-inner
			display: block
			width: 100%
			height: 100%
			border-top: $bb
			border-color: #e6e6e6
			position: relative
			&:hover
				+rm(991)
					.title
						color: $hover
			&:active
				.title
					color: $active
	&-type
		position: absolute
		+rem(left,27px)
		+rem(top,21px)	
		display: inline-block
		width: 100%
		// &:not(:empty)
		// 	&~.news-content
		// 		+rem(min-height, 170px)
		// 	&~.news-image:empty
		// 		display: inline-block
		// 		+rem(min-height, 20px)
		&:only-child
			left: 0
			position: static
			+rem(margin-top, 20px)
			+rem(margin-bottom, -20px)
	&-image
		+rem(max-height, 205px)
		overflow: hidden
		margin-top: -1px
		width: 100%
		+clr
		img
			display: block
			max-width: 100%
			max-height: 100%
			margin: 0 auto
	&-content
		+rem(padding, 25px 0 0)
		+rem(min-height, 190px)
		overflow: hidden
		+r(600)
			+rem(min-height, 150px)
			+rem(padding, 25px 0 20px)
		.text2
			color: $grayy
			white-space: nowrap
			overflow: hidden
			width: 100%
		.title
			+rem(margin, 17px 0 13px)
			+rem(max-height, 104px)
			overflow: hidden
			text-overflow: ellipsis
			-webkit-line-clamp: 4
			-webkit-box-orient: vertical
			display: -webkit-box
			+tr(color .3s)
.nav-arrows
	.slick-arrow
		// display: inline-block
		+rem(width,43px)
		+rem(height,44px)
		use
			transition: stroke .3s, color .3s
			fill: #fff
			stroke: #000
			color: #000
		&.slick-disabled
			use
				fill: #fff
				stroke: #000
				color: #000
	.carousel-prev
		transform: scale(-1,1)
	.carousel-next,.carousel-prev
		&:not(.slick-disabled)
			&:hover
				+rm(991)
					use
						fill: #fff
						stroke: $hover
			&:active
				use
					fill: #fff
					stroke: $active
		&.slick-disabled
			use
				fill: #fff
				stroke: #e1e1e1
				color: #e1e1e1

.partner
	&-slider
		margin-top: 100px
		+rem(margin-top,67px)
		position: relative
		+r(768)
			+rem(margin-top,27px)

		.nav-arrows
			position: absolute
			top: 50%
			transform: translateY(-50%)
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			left: 0
			right: 0
		&-inner			
			+rem(margin-bottom, -115px)
			+r(1210)
				+padlr(30px)
	&-item
		+padlr(10px)
		+rem(height,100px)
		&-inner
			display: flex
			flex-flow: column nowrap
			justify-content: center
			align-items: flex-start
			height: 100%
			+r(1210)
				align-items: center
			img
				+rem(max-width, 130px)
				// max-width: 100%
				+rem(max-height, 68px)















		

		


				



			



