meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(content='True' name='HandheldFriendly')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='theme-color', content='#2d2d2d')
meta(name="apple-mobile-web-app-status-bar-style" content="#2d2d2d")
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')
link(rel='shortcut icon', href='img/fav/48x48.png', type='image/x-icon')
link(rel='apple-touch-icon', href='img/fav/57x57.png')
link(rel='apple-touch-icon', sizes='72x72', href='img/fav/72x72.png')
link(rel='apple-touch-icon', sizes='114x114', href='img/fav/114x114.png')
link(rel="stylesheet" media="all" href="css/screen.min.css")




