include _mixins.pug
.page__header-main.box
	a(href="#").page__header-logo
		.page__header-logo-big(style='background-image:url(img/logob.png)')
		.page__header-logo-small(style='background-image:url(img/logob-small.png)')
	.page__header-content
		.page__header-nav-top
			.top-nav.top.icon.dropdown-trigger
				a(href="#")
					span об инстутуте
				.dropdown-target
					.dropdown-inner
						.dropdown-content
							ul.dropdown-list.about
								li
									a(href="#") Об институте
								li
									a(href="#") Руководство
								li
									a(href="#") Миссия
								li
									a(href="#") История
								li
									a(href="#") Лицензии
							ul.dropdown-list
								li
									a(href="#") Исследовательский центр
								li
									a(href="#") Научный центр
								li
									a(href="#") Косметическое производство

							ul.dropdown-list
								li
									a(href="#") Рекламодателям
								li
									a(href="#") Вакансии
								li
									a(href="#") Вопрос-ответ

			.top-nav.top
				a(href="#")
					span Клиники
			.top-nav.top.icon.dropdown-trigger
				a(href="#")
					span Акции
				.dropdown-target
					.dropdown-inner
						.dropdown-content
							ul.dropdown-list
								li
									a(href="#") Акция
								li
									a(href="#") Акция на лазерную коррекцию
								li
									a(href="#") Акция
								li
									a(href="#") Акция
								li
									a(href="#") Акция
							ul.dropdown-list
								li
									a(href="#") Исследовательский центр
								li
									a(href="#") Научный центр
								li
									a(href="#") Косметическое производство
		.page__header-search
			.o-menu-search
				form.search__wrapper
					input(type="text",placeholder='Поиск по сайту',required="required").search__input
					button(type='submit').search__btn
						i.search-icon
							svg(class="icon icon-drop")
								use(xlink:href="#lupa" xmlns:xlink="http://www.w3.org/1999/xlink")
		.page__header-soc
			.soc-wrapp
				a(href="#").soc-wrapp-item.vk
					svg(class="icon icon-drop")
						use(xlink:href="#vk" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.fb
					svg(class="icon icon-drop")
						use(xlink:href="#fb" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.in
					svg(class="icon icon-drop")
						use(xlink:href="#in" xmlns:xlink="http://www.w3.org/1999/xlink")
		.page__header-nav-bottom
			a(href="#", data-id='1').top-nav.bottom.icon.js-desktop-hover
				span УСЛУГИ и цены 
			a(href="#", data-id='2').top-nav.bottom.icon.js-desktop-hover
				span СПЕЦИАЛИСТЫ
			a(href="#").top-nav.bottom
				span Контакты
		.page__header-button
			a(href="#").btn.yell.i-left Записаться на прием
		.page__header-contact
			a(href="tel:3333").contact-item
				.text-bold +7 (495) 212-92-99 
			a(href="#",data-modal='fallback').js-popup-button Обратный звонок
			.text2 
				.dete-item пн–пт: 9:00–21:00
				.dete-item сб–вс: 10:00–20:00
		.page__header-hamburger.js-menu
			.hamburger
				.hamburger-inner
					span
					span
					span
.page__header-drop
	.page__header-drop-cont
		.page__header-drop-item.col-3(data-id='1')
			//без <br> тут в дизайн не попадешь
			ul.page__header-drop-list
				li
					a(href="#") Косметология
				li
					a(href="#") Пластическая хирургия
				li
					a(href="#") Лазерная косметология
				li
					a(href="#") Коррекция фигуры
				li
					a(href="#") Трихология
				li
					a(href="#") Массаж
				li
					a(href="#") Физиотерапия
				li
					a(href="#") Флебология
				li
					a(href="#") Эндокринология
				li
					a(href="#") Лабораторные анализы
				li
					a(href="#") Персонализированная косметика
				li
					a(href="#") Прайс-лист
		.page__header-drop-item.col-4(data-id='2')
			ul.page__header-drop-list
				li
					a(href="#") Отделение 
						br
						|пластической хирургии
				li
					a(href="#") Отделение 
						br
						|Аппаратной косметологии
				li
					a(href="#") Отделение 
						br
						|детской косметологии
				li
					a(href="#") Кабинет 
						br
						|врача-терапевта
				li
					a(href="#") Кабинет 
						br
						|физиотерапии
				li
					a(href="#") Отделение малоинвазивной хирургии 
				li
					a(href="#") Кабинет превентивной и восстановительной медицины
				li
					a(href="#") Приемное отделение
				li
					a(href="#") Отделение анестезиологии и реанимации
				li
					a(href="#") Отделение
						br
						| диагностики кожи
				li
					a(href="#") Кабинет флебологической реабилитации и УЗИ-диагностики	
.page__header-mobmenu
	.page__header-mobmenu-inner
		ul.page__header-mobmenu-list
			li.js-sub-toggle
				a(href="#").top-nav.bottom.icon
					span УСЛУГИ и цены 
				ul.mobile_l2
					li.mobile_l2-item
						a(href="#").link-black Косметология
					li.mobile_l2-item
						a(href="#").link-black Флебология
					li.mobile_l2-item
						a(href="#").link-black Пластическая хирургия
					li.mobile_l2-item
						a(href="#").link-black Трихология
					li.mobile_l2-item
						a(href="#").link-black Лазерная косметология
					li.mobile_l2-item
						a(href="#").link-black Эндокринология
					li.mobile_l2-item
						a(href="#").link-black Коррекция фигуры
					li.mobile_l2-item
						a(href="#").link-black Лабораторные анализы и экспресс-диагностика
					li.mobile_l2-item
						a(href="#").link-black Массаж
					li.mobile_l2-item
						a(href="#").link-black Персонализированная косметика
					li.mobile_l2-item
						a(href="#").link-black Физиотерапия
					li.mobile_l2-item
						a(href="#").link-black Физиотерапия
					li.mobile_l2-item
						a(href="#").link-black Флебология
			li.js-sub-toggle
				a(href="#").top-nav.bottom.icon
					span специалисты
				ul.mobile_l2
					li.mobile_l2-item
						a(href="#").link-black Отделение пластической хирургии
					li.mobile_l2-item
						a(href="#").link-black Отделение Аппаратной косметологии
					li.mobile_l2-item
						a(href="#").link-black Отделение детской косметологии
					li.mobile_l2-item
						a(href="#").link-black Кабинет врача-терапевта
					li.mobile_l2-item
						a(href="#").link-black Кабинет физиотерапии
					li.mobile_l2-item
						a(href="#").link-black Кабинет превентивной и восстановительной медицины
					li.mobile_l2-item
						a(href="#").link-black Отделение малоинвазивной хирургии
					li.mobile_l2-item
						a(href="#").link-black Лабораторные анализы и экспресс-диагностика
					li.mobile_l2-item
						a(href="#").link-black Отделение анестезиологии и реанимации
					li.mobile_l2-item
						a(href="#").link-black Персонализированная косметика
					li.mobile_l2-item
						a(href="#").link-black Физиотерапия
					li.mobile_l2-item
						a(href="#").link-black Физиотерапия
					li.mobile_l2-item
						a(href="#").link-black Флебология
			li.js-sub-toggle
				a(href="#").top-nav.bottom
						span Контакты
			li.js-sub-toggle
				a(href="#").top-nav.top.icon
					span об инстутуте
				ul.mobile_l2
					li.mobile_l2-item
						a(href="#") Об институте
					li.mobile_l2-item
						a(href="#") Исследовательский центр
					li.mobile_l2-item
						a(href="#") Научный центр
					li.mobile_l2-item
						a(href="#") Косметическое производство
					li.mobile_l2-item
						a(href="#") Партнёры   
					li.mobile_l2-item
						a(href="#") Рекламодателям    
					li.mobile_l2-item
						a(href="#") Вакансии  
					li.mobile_l2-item
						a(href="#") Вопрос-ответ       
					li.mobile_l2-item
						a(href="#") Отделение анестезиологии и реанимации       
					li.mobile_l2-item
						a(href="#") Отзывы   
			li.js-sub-toggle
				a(href="#").top-nav.top
					span Клиники
			li.js-sub-toggle
				a(href="#").top-nav.top.icon
					span акции
				ul.mobile_l2
					li.mobile_l2-item
						a(href="#") Об институте
					li.mobile_l2-item
						a(href="#") Исследовательский центр
					li.mobile_l2-item
						a(href="#") Научный центр
					li.mobile_l2-item
						a(href="#") Косметическое производство
					li.mobile_l2-item
						a(href="#") Партнёры   
					li.mobile_l2-item
						a(href="#") Рекламодателям    
					li.mobile_l2-item
						a(href="#") Вакансии  
					li.mobile_l2-item
						a(href="#") Вопрос-ответ       
					li.mobile_l2-item
						a(href="#") Отделение анестезиологии и реанимации       
					li.mobile_l2-item
						a(href="#") Отзывы  
			.soc-wrapp
				a(href="#").soc-wrapp-item.vk
					svg(class="icon icon-drop")
						use(xlink:href="#vk" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.fb
					svg(class="icon icon-drop")
						use(xlink:href="#fb" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.in
					svg(class="icon icon-drop")
						use(xlink:href="#in" xmlns:xlink="http://www.w3.org/1999/xlink")