include _mixins.pug
.page__header-main.box
	a(href="#").page__header-logo
		.page__header-logo-big(style='background-image:url(img/logob.png)')
		.page__header-logo-small(style='background-image:url(img/logob-small.png)')
	.page__header-content
		.page__header-nav-top
			a(href="#",data-id='about').top-nav.top.icon
				span об инстутуте
			a(href="#").top-nav.top
				span Клиники
			a(href="#",data-id='promo').top-nav.top.icon
				span Акции
		.page__header-search
			.o-menu-search
				form.search__wrapper
					input(type="text",placeholder='Поиск по сайту',required="required").search__input
					button(type='submit').search__btn
						i.search-icon
							svg(class="icon icon-drop")
								use(xlink:href="#lupa" xmlns:xlink="http://www.w3.org/1999/xlink")
		.page__header-soc
			.soc-wrapp
				a(href="#").soc-wrapp-item.vk
					svg(class="icon icon-drop")
						use(xlink:href="#vk" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.fb
					svg(class="icon icon-drop")
						use(xlink:href="#fb" xmlns:xlink="http://www.w3.org/1999/xlink")
				a(href="#").soc-wrapp-item.in
					svg(class="icon icon-drop")
						use(xlink:href="#in" xmlns:xlink="http://www.w3.org/1999/xlink")
		.page__header-nav-bottom
			a(href="#", data-id='1').top-nav.bottom.icon.js-desktop-hover
				span УСЛУГИ и цены 
			a(href="#", data-id='2').top-nav.bottom.icon.js-desktop-hover
				span СПЕЦИАЛИСТЫ
			a(href="#").top-nav.bottom
				span Контакты
		.page__header-button
			a(href="#").btn.yell.i-left Записаться на прием
		.page__header-contact
			a(href="tel:3333").contact-item
				.text-bold +7 (495) 212-92-99 
			a(href="#") Обратный звонок
			.text2 
				.dete-item пн–пт: 9:00–21:00
				.dete-item сб–вс: 10:00–20:00
		.page__header-hamburger.js-menu
			.hamburger
				.hamburger-inner
					span
					span
					span
.page__header-drop
	.page__header-drop-cont
		.page__header-drop-item.col-3(data-id='1')
			//без <br> тут в дизайн не попадешь
			ul.page__header-drop-list
				li
					a(href="#") Косметология
				li
					a(href="#") Пластическая хирургия
				li
					a(href="#") Лазерная косметология
				li
					a(href="#") Коррекция фигуры
				li
					a(href="#") Трихология
				li
					a(href="#") Массаж
				li
					a(href="#") Физиотерапия
				li
					a(href="#") Флебология
				li
					a(href="#") Эндокринология
				li
					a(href="#") Лабораторные анализы
				li
					a(href="#") Персонализированная косметика
				li
					a(href="#") Прайс-лист
		.page__header-drop-item.col-4(data-id='2')
			ul.page__header-drop-list
				li
					a(href="#") Отделение 
						br
						|пластической хирургии
				li
					a(href="#") Отделение 
						br
						|Аппаратной косметологии
				li
					a(href="#") Отделение 
						br
						|детской косметологии
				li
					a(href="#") Кабинет 
						br
						|врача-терапевта
				li
					a(href="#") Кабинет 
						br
						|физиотерапии
				li
					a(href="#") Отделение малоинвазивной хирургии 
				li
					a(href="#") Кабинет превентивной и восстановительной медицины
				li
					a(href="#") Приемное отделение
				li
					a(href="#") Отделение анестезиологии и реанимации
				li
					a(href="#") Отделение
						br
						| диагностики кожи
				li
					a(href="#") Кабинет флебологической реабилитации и УЗИ-диагностики	






