.modal-layout(data-modal='subscribe').js-popup-container
	//контейнер модалки
	.modal-container.modal-small
		.modal-container-header
			.h-title.h2 Спасибо
			i.small-link.pop-close.closePopup
		.modal-container-content
			.text1 Вы подписались на рассылку новостей от Eat-bit. Настроить подписку вы можете в личном кабинете.
