
<div class="wrap">
  <div class="modal-container">
    <div class="modal-container-header">
      <div class="modal-container-header-img">
        <img src="img/map/map.png" alt=""/>
      </div>
    </div>
    <i class="small-link pop-close closePopup"></i>
    <div class="modal-container-content">
      <div class="title h4">Схема прохода от метро «Рижская»</div>
      <div class="road-slider-wrap">
        <div class="road-slider-slider">
          <div class="content-item">
            <img src="img/content/1.jpg" alt="fsdfsd"/>
          </div>
          <div class="content-item">
            <img src="img/content/1.jpg" alt="fsdfsd"/>
          </div>
          <div class="content-item">
            <img src="img/content/1.jpg" alt="fsdfsd"/>
          </div>
        </div>
        <div class="content-slider-nav">
          <div class="nav-arrows"></div>
        </div>
        <div class="content-slider-add">
          <div class="content-slider-add-item">
            <p>Выход из метро Рижская – прямо перед вами подземный переход, слева Новорижская эстакада (ТТК). Спуститесь в подземный переход, пройдите прямо по подземному переходу до второго поворота, сверните на право.</p>
          </div>
          <div class="content-slider-add-item">
            <p>Выход из метро Рижская – прямо перед вами подземный переход, слева Новорижская эстакада (ТТК). Спуститесь в подземный переход, пройдите прямо по подземному переходу до второго поворота, сверните на право.</p>
          </div>
          <div class="content-slider-add-item">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error, eligendi nostrum ex, voluptatem unde obcaecati veniam soluta, amet cupiditate sed eum labore molestias blanditiis voluptatibus. Expedita officiis velit, quo?	</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>