
<div class="wrap">
  <div class="modal-container sale">
    <div class="modal-container-header">
      <div class="small-block small"><span>Акция</span></div>
      <div class="title h4">«консультация пластического хирурга»</div>
    </div><i class="small-link pop-close closePopup"></i>
    <div class="modal-container-content">
      <div class="content-column-content">
        <div class="content-column-content-inner">
          <div class="content-slider-wrap caption">
            <div class="content-slider-slider">
              <div class="content-item"><img src="img/content/1.jpg" alt="fsdfsd"/></div>
              <div class="content-item"><img src="img/content/1.jpg" alt="fsdfsd"/></div>
              <div class="content-item"><img src="img/content/1.jpg" alt="fsdfsd"/></div>
            </div>
            <div class="content-slider-nav">
              <div class="nav-arrows"></div>
            </div>
            <div class="caption-content"><b>Только современные диагностические системы</b><img src="img/content/d14.png" alt=""/><i>SOFT Plus — многофункциональный программно-аппаратный комплекс.</i></div>
          </div>
          <p> В Институте Красоты практикуется подбор косметических средств и назначение врачом косметологом программ коррекции состояния кожи на основании <a href="#">компьютерной диагностики</a>.</p>
          <p> Поэтомуво время первичной консультации мы проводим профессиональную диагностику состояния Вашей кожи и на основании полученной информации рекомендуем максимально эффективные косметологические процедуры.</p>
          <p> Далее на всех этапах лечения мы проводиммониторинг динамики его эффективности, визуализацию и сравнительный анализ состояния кожи до и после процедур.</p>
          <blockquote> <b>По вопросам трудоустройства обращаться к начальнику отдела кадров:</b>
            <p>Кириллиной Татьяне Вячеславовне<br/> <a class="text2" href="#">+7 (495) 212-06-64 &nbsp;&nbsp;&nbsp;</a><a href="#"> kirillina@institut-krasoty.ru</a></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>