extends _layout

block title
	title СПЕЦИАЛИСТЫ

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Специалисты
			.content-main
				.title.h1 Специалисты
				//- .title-btn
				//- 	a(href="#").btn Прайс Лист
	.box
		//в длинных словах .title можно использовать &shy;
		.depart-wrap
			.doc-card-wrap.margin-card-wrap
				a(href="#").doc-card-text_title Центр <br> косметологии
				.doc-card-inner-s
					.doc-card-text
						.doc-block.margin-doc-block
							.doc-item(style="background-image:url(img/bg/v1.png);")
							.doc-item(style="background-image:url(img/bg/v2.png);")
							.doc-item(style="background-image:url(img/bg/v3.png);")
							.doc-item(style="background-image:url(img/bg/v4.png);")
							.doc-item.more 22
						a(href="#").title.h4 СМЕТНЕВА СВЕТЛАНА МИХАЙЛОВНА
						.text2 Заведующая кабинетом,<br> врач-терапевт
						a(href="#").box-link-s
							.link-s Все специалисты
								.link-arr
									svg(class="icon icon-drop")
										use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.doc-card-img
						img(src="img/bg/v31.png" alt="vrtach")

			.doc-card-wrap.margin-card-wrap
				a(href="#").doc-card-text_title Центр Детской косметологии
				.doc-card-inner-s
					.doc-card-text
						.doc-block.margin-doc-block
							.doc-item(style="background-image:url(img/bg/v1.png);")
							.doc-item(style="background-image:url(img/bg/v2.png);")
							.doc-item(style="background-image:url(img/bg/v3.png);")
							.doc-item(style="background-image:url(img/bg/v4.png);")
							.doc-item.more 22
						a(href="#").title.h4 ИЗРАИЛОВ ВАЛЕРИЙ АЛЕКСАНДРОВИЧ
						.text2 Заведующий отделением, врач-пластический хирург, кандидат медицинских наук
						a(href="#").box-link-s
							.link-s Все специалисты
								.link-arr
									svg(class="icon icon-drop")
										use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.doc-card-img
						img(src="img/bg/v11.png" alt="vrtach")

			.doc-card-wrap.margin-card-wrap
				a(href="#").doc-card-text_title Центр пластической хирургии
				.doc-card-inner-s
					.doc-card-text
						.doc-block.margin-doc-block
							.doc-item(style="background-image:url(img/bg/v1.png);")
							.doc-item(style="background-image:url(img/bg/v2.png);")
							.doc-item(style="background-image:url(img/bg/v3.png);")
							.doc-item(style="background-image:url(img/bg/v4.png);")
							.doc-item.more 22
						a(href="#").title.h4 СМЕТНЕВА СВЕТЛАНА МИХАЙЛОВНА
						.text2 Заведующая кабинетом, <br> врач-терапевт
						a(href="#").box-link-s
							.link-s Все специалисты
								.link-arr
									svg(class="icon icon-drop")
										use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.doc-card-img
						img(src="img/bg/v31.png" alt="vrtach")

			.doc-card-wrap.margin-card-wrap
				a(href="#").doc-card-text_title Клинико-Диагностический центр
				.doc-card-inner-s
					.doc-card-text
						.doc-block.margin-doc-block
							.doc-item(style="background-image:url(img/bg/v1.png);")
							.doc-item(style="background-image:url(img/bg/v2.png);")
							.doc-item(style="background-image:url(img/bg/v3.png);")
							.doc-item(style="background-image:url(img/bg/v4.png);")
							.doc-item.more 22
						a(href="#").title.h4 ИЗРАИЛОВ ВАЛЕРИЙ АЛЕКСАНДРОВИЧ
						.text2 Заведующий отделением, врач-пластический хирург, кандидат медицинских наук
						a(href="#").box-link-s
							.link-s Все специалисты
								.link-arr
									svg(class="icon icon-drop")
										use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.doc-card-img
						img(src="img/bg/v11.png" alt="vrtach")































	