extends _layout

block title
	title Index

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head.personal
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Специалисты
				a(href="#").content-bread-item.text2 Отделение пластической и реконструктивно-восстановительной хирургии
				a(href="#").content-bread-item.text2 Израилов Валерий Александрович
			.content-main
				.title.h1 Израилов Валерий Александрович
				.text-bold Заведующий отделением, врач-пластический хирург, кандидат медицинских наук
			.content-img
				img(src="img/bg/v11.png", alt="")
				//- .title-btn
				//- 	a(href="#").btn Прайс Лист
	.box
		.aside-wrapp
			aside.aside-menu
				
			.aside-content































	