extends _layout

block title
    title кОСМЕТОЛОГИЯ

block content
    .wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
        //для врачей вешаем класс .personal
        .box.content-head
            .content-bread
                a(href="#").content-bread-item.text2 Главная
                a(href="#").content-bread-item.text2 Услуги
            .content-main
                .title.h1 кОСМЕ&shy;ТОЛО&shy;ГИЯ
                //просто вставляем этот блок, а туда уже кнопку которая нужна
                .title-btn
                    a(href="#").btn.btn-big Прайс Лист
    .box
        .aside-wrapp
            aside.aside-menu(data-sticky_parent)
                // тут модификатор .list-bold
                .aside-stick(data-sticky_column).list-bold.js-dropdown-parent
                    .aside-title.title.h4.js-dropdown Список услуг
                    ul.menu-nav.js-dropdown-target.accordion
                        li.menu-nav-item
                            a.link-black.active Косметология
                                .link-black_box
                                    a(href='#').link-black_box-link.active
                                        span Инъекционная косметология
                                    a(href='#').link-black_box-link
                                        span Аппаратная косметология
                                    a(href='#').link-black_box-link
                                        span Лазерная косметология
                                    a(href='#').link-black_box-link
                                        span Эстетическая косметология
                        li.menu-nav-item
                            a(href="#").link-black Детская косметология
                        li.menu-nav-item
                            a(href="#").link-black Хирургия
                        li.menu-nav-item
                            a(href="#").link-black Клинико-диагностический центр
            .aside-content
                .feachure-list-wrap
                    .feachure-list-item
                        .feachure-list-item-inner
                            .doc-card-inner(style='background-image:url(/img/list/1.png);')
                                .doc-card-text
                                    a(href="#").title.h2.link Инъекционная косметология
                            .feachure-list-content
                                ul.feachure-list-list
                                    li
                                        a(href="#") Диагностика кожи
                                    li
                                        a(href="#") Аутологичное клеточное омоложение рук плазмой
                                    li
                                        a(href="#") Инъекционная контурная пластика
                                ul.feachure-list-list
                                    li
                                        a(href="#") Ботулинотерапия
                                    li
                                        a(href="#") Детская косметология
                                    li
                                        a(href="#") Косметические маски
                                ul.feachure-list-list
                                    li
                                        a(href="#") Фотомодуляция
                                    li
                                        a(href="#") Чистка лица
                                    li
                                        a(href="#") Электрокоагуляция
                .content-column-wrap
                    .content-column-content
                        .content-column-content-inner
                            h1 Об инъекционной косметологии
                            p  Мы постоянно расширяем арсенал методик, которые используем в своей практике и углублённо изучаем состояние здоровья пациента, в том числе его генетические особенности, для того чтобы разработать индивидуальные комплексные программы совершенствования внешности.

                            p  В клинике применяются новейшие технологии  (плазмотерапия) и все известные классические методики:
                                a(href="#") биоревитализация
                                | ,
                                a(href="#") aмезотерапия
                                | ,
                                a(href="#") контурная пластика
                                | ,
                                a(href="#") лифтинг с использованием мезонитей
                                | ,
                                a(href="#") ботулинотерапия
                                | ,
                                a(href="#") химические пилинги
                                | и т.д.), лечение и омоложение с помощью лазеров и фототерапии, совершенствуются традиционные, ставшие классическими методики массажа и эпиляции.
                            p  По традиции в отделении семейной медицины оказывают медицинскую косметологическую помощь детям (
                                a(href="#") детская дерматокосметология
                                | ).
                            p  Предмет нашей особой гордости составляют наши
                                a(href="#") специалисты
                                | - "золотой фонд" отечественной дерматокосметологии.

                    //div нужен
                    .content-column-right
                        .diplom-slider-content
                            b Наша деятельность сертифицирована
                            .diplom-slider-inner
                                a(href="img/content/big.jpg",data-sub-html='<div class="text bold">Сертификат качества3</div><p class="text2">Выдан специалисту высшего разряда</p>').diplom-slider-inner-img
                                    img(src="img/content/d1.jpg", alt="fsdfsd")
                                a(href="img/content/big.jpg",data-sub-html='<div class="text bold">Сертификат качества1</div><p class="text2">Выдан специалисту высшего разряда</p>').diplom-slider-inner-img
                                    img(src="img/content/d1.jpg", alt="fsdfsd")
                                a(href="img/content/big.jpg",data-sub-html='<div class="text bold">Сертификат качества31</div><p class="text2">Выдан специалисту высшего разряда</p>').diplom-slider-inner-img
                                    img(src="img/content/d1.jpg", alt="fsdfsd")
                            i Сертификат на осуществление медицинской деятельности
        .nav-wrapper
            .nav-btn-wrap
                //если кнопки нету, то удалять только кнопку. .nav-btn-wrap оставить
                a(href="#").nav-btn
                    .nav-btn-inner
                        svg(class="icon icon-drop")
                            use(xlink:href="#arr-circle" xmlns:xlink="http://www.w3.org/1999/xlink")
                    span Назад
            +phoneform





























