extends _layout

block title
	title Исследовательский центр

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Исследовательский центр
			.content-main
				.title.h1 Исследователь&shy;ский центр
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black институт красоты
							.menu-add-items
								a(href="#").menu-add-link
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black.active Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black отзывы
						li.menu-nav-item
							a(href="#").link-black Записаться на приём

			.aside-content
				.action-inner
					.news-wrapper
						+news('Изменение режима работы в выходные дни','15 января 2017','1.png','')
						+news('Скоро «Институт Красоты на Арбате» переезжает в новое здание','14 января 2017','2.png','')
						+news('AGENDA - лаборатория красоты у Вас дома','13 января 2017','2.png','')
						+news('Внимание! У нас сменился номер телефона и сайт!','13 января 2017', '2.png','')
						+news('Внимание! У нас сменился номер телефона и сайт!','13 января 2017', '2.png','')
						+news('Внимание! У нас сменился номер телефона и сайт!','13 января 2017', '','')
						+news('Внимание! У нас сменился номер телефона и сайт!','13 января 2017', '','')























	