extends _layout

block title
	title Вакансии

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Вакансии
			.content-main
				.title.h1 Вакансии
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black институт красоты
							.menu-add-items
								a(href="#").menu-add-link
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black.active вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black отзывы
						li.menu-nav-item
							a(href="#").link-black Записаться на приём

			.aside-content
				.content-column-wrap.special
					.content-column-content
						.vacancy-wrapper.offerlist-section.caption
							+vacancy('Врач ультразвуковой диагностики')
							+vacancy('Врач-дерматовенеролог (трихолог)')
							+vacancy('Врач-дерматовенеролог (трихолог)')
							+vacancy('Врач-дерматовенеролог (трихолог)')
							mark.caption-content
								b Начальник 
									br
									|отдела кадров:
								p Кириллина Татьяна 
									br
									| Вячеславовна
									br
									|+7 (495) 212-06-64
								a(href="#") kirillina@institut-krasoty.ru

					//div нужен
					.content-column-right
						


























	