extends _layout

block title
	title Отзывы

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Отзывы
			.content-main
				.title.h1 Отзывы
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black институт красоты
							.menu-add-items
								a(href="#").menu-add-link
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black.active отзывы
						li.menu-nav-item
							a(href="#").link-black Записаться на приём

			.aside-content
				.content-column-wrap.special
					.content-column-content
						.content-column-content-inner
							.content-form-block
								.title.h4 Ваши отзывы и пожелания
								.content-form-block-block
									form.form.js-validate
										.input-item.s-100
											.input-wrapper.req
												label Заголовок
												input.input-main(type="text",placeholder='Заголовок',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label Имя
												input.input-main(type="text",placeholder='Имя',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label Фамилия
												input.input-main(type="text",placeholder='Фамилия',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label Отчество
												input.input-main(type="text",placeholder='Отчество',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label E-mail
												input.input-main(type="email",placeholder='example@mail.com',data-validation="email",data-validation-error-msg="Не заполнено")
										.input-item.s-50.depends-on
											.input-wrapper.req
												.label Специалист
												.select-check.js-select-custom
													button.selects(data-placeholder='Выберите')
														span.btn-text Выберите
														i.select-img
													.dropdown-target
														.dropdown-inner
															.dropdown-content
																.select-u-body.select-list
																	label.option
																		input(type='radio', name='group4', value='val1', data-validation='required')
																		span Специалист1
																	label.option
																		input(type='radio', name='group4', value='val2')
																		span Специалист2
																	label.option
																		input(type='radio', name='group4', value='val3')
																		span Специалист 3
																	label.option
																		input(type='radio', name='group4', value='val4')
																		span GHJGHJ
																	label.option
																		input(type='radio', name='group4', value='val5')
																		span GHJ
																	label.option
																		input(type='radio', name='group4', value='val6')
																		span HGJGHJ
																	label.option
																		input(type='radio', name='group4', value='val7')
																		span GHJHG
																	label.option
																		input(type='radio', name='group4', value='val8')
																		span HGJG
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
										.input-item.s-50
											.input-wrapper.req
												label Телефон
												input.input-main(type="tel",placeholder='Телефон',data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
										.input-item.s-50.depends-on
											.input-wrapper.req
												.label Услуга
												.select-check.js-select-custom
													button.selects(data-placeholder='Выберите')
														span.btn-text Выберите
														i.select-img
													.dropdown-target
														.dropdown-inner
															.dropdown-content
																.select-u-body.select-list
																	.listed
																		b Косметология
																		label.option
																			input(type='radio', name='group5', value='val1', data-validation='required')
																			span Диагностика кожи
																		label.option
																			input(type='radio', name='group5', value='val2')
																			span Аутологичное клеточное омоложение рук плазмой
																		label.option
																			input(type='radio', name='group5', value='val3')
																			span Лечение угревой болезни
																		label.option
																			input(type='radio', name='group5', value='val4')
																			span Удаление родинок и папиллом
																	.listed
																		b Косметология
																		label.option
																			input(type='radio', name='group5', value='val5')
																			span GHJ
																		label.option
																			input(type='radio', name='group5', value='val6')
																			span HGJGHJ
																		label.option
																			input(type='radio', name='group5', value='val7')
																			span GHJHG
																		label.option
																			input(type='radio', name='group5', value='val8')
																			span HGJG
																		label.option
																			input(type='radio', name='group5', value='val9')
																			span 3HGJ
																		label.option
																			input(type='radio', name='group5', value='val9')
																			span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group5', value='val9')
																		span 3HGJ
										.input-item.s-50
											.input-wrapper.req.input-wrapper.js-stars
												.label Оценка
												.star-wrapper
													#rev-star-1.star-item(data-num='1')
													#rev-star-2.star-item(data-num='2')
													#rev-star-3.star-item(data-num='3')
													#rev-star-4.star-item(data-num='4')
													#rev-star-5.star-item(data-num='5')
													input(type='number',style='display: none;').rev-hidden
										.input-item.s-100
											.input-wrapper
												label Ваш отзыв
												textarea.input-main(rows='5',placeholder='Отзыв') 
										.form-footer
											.form-footer-notify
												.text Поля обязательные для заполнения
											button(type='submit').btn.yell Оставить отзыв
							.feedback-wrapper
								.feedback-item
									.feedback-item-head
										.title.h4 Отличная клиника
										.star-wrapper.small
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
									.feedback-item-who
										.who-line
											span.text.bold Клиент:
											| Ольга
										.who-line
											span.text.bold Специалист:
											| Толкачева Александра Александровна
										.who-line
											span.text.bold Услуга:
											| Чистка лица
									.feedback-item-content.js-coment
										.feedback-item-content-inner
											|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. sdfsd sd fdsfdsfsdf s fsf sfsfdsfs fsd fsddsf dssssghf hdfshdfsdhf sfhjdf  shjdfsdfs  dfs dfsdfssdf s
									.menu-nav-item.more.js-list-more(data-alt-text='Свернуть')
										.link-black Читать полностью
								.feedback-item
									.feedback-item-head
										.title.h4 Отличная клиника
										.star-wrapper.small
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
									.feedback-item-who
										.who-line
											span.text.bold Клиент:
											| Ольга
										.who-line
											span.text.bold Специалист:
											| Толкачева Александра Александровна
										.who-line
											span.text.bold Услуга:
											| Чистка лица
									.feedback-item-content.js-coment
										.feedback-item-content-inner
											|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									.menu-nav-item.more.js-list-more(data-alt-text='Свернуть')
										.link-black Читать полностью
									.feedback-item-reply
										.text.bold Ответ:
										.reply-content
											| Ольга, спасибо Вам большое за пожелания!
								.feedback-item
									.feedback-item-head
										.title.h4 Отличная клиника sfsf sfs fs fsfsf sfs fsf fsdfs
										.star-wrapper.small
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
									.feedback-item-who
										.who-line
											span.text.bold Клиент:
											| Ольга
										.who-line
											span.text.bold Специалист:
											| Толкачева Александра Александровна
										.who-line
											span.text.bold Услуга:
											| Чистка лица
									.feedback-item-content.js-coment
										.feedback-item-content-inner
											|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									.menu-nav-item.more.js-list-more(data-alt-text='Свернуть')
										.link-black Читать полностью
									.feedback-item-reply
										.text.bold Ответ:
										.reply-content
											| Ольга, спасибо Вам большое за пожелания!
								.feedback-item
									.feedback-item-head
										.title.h4 Отличная клиника
										.star-wrapper.small
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
											.star-item.active
									.feedback-item-who
										.who-line
											span.text.bold Клиент:
											| Ольга
										.who-line
											span.text.bold Специалист:
											| Толкачева Александра Александровна
										.who-line
											span.text.bold Услуга:
											| Чистка лица
									.feedback-item-content.js-coment
										.feedback-item-content-inner
											|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									.menu-nav-item.more.js-list-more(data-alt-text='Свернуть')
										.link-black Читать полностью
									.feedback-item-reply
										.text.bold Ответ:
										.reply-content
											| Ольга, спасибо Вам большое за пожелания!

					//div нужен
					.content-column-right


























	