extends _layout

block title
	title Записаться на приём

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Записаться на приём
			.content-main
				.title.h1 Записаться на приём
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black институт красоты
							.menu-add-items
								a(href="#").menu-add-link
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black отзывы
						li.menu-nav-item
							a(href="#").link-black.active Записаться на приём

			.aside-content
				.content-column-wrap.special
					.content-column-content
						.content-column-content-inner
							.content-form-block
								.title.h4 Записаться на приём
								.content-form-block-block
									form.form.js-validate(data-block='.modal-container')
										.input-item.s-50
											.input-wrapper.req
												label Имя
												input.input-main(type="text",placeholder='Имя',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label E-mail
												input.input-main(type="email",placeholder='example@mail.com',data-validation="email",data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label Фамилия
												input.input-main(type="text",placeholder='Фамилия',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper.req
												label Телефон
												input.input-main(type="tel",placeholder='Телефон',data-validation="custom",data-validation-regexp="^[-0-9()+ ]+$",data-validation-error-msg="Не заполнено")
										.input-item.s-50
											.input-wrapper
												label Отчество
												input.input-main(type="text",placeholder='Отчество',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не заполнено")
										hr.divider
										.input-item.s-50.depends-on
											.input-wrapper
												.label Услуга
												.select-check.js-select-custom
													button.selects(data-placeholder='Выберите')
														span.btn-text Выберите
														i.select-img
													.dropdown-target
														.dropdown-inner
															.dropdown-content
																.select-u-body.select-list
																	label.option
																		input(type='radio', name='group45', value='val1',)
																		span Здоровье
																	label.option
																		input(type='radio', name='group45', value='val2')
																		span Нездоровье
																	label.option
																		input(type='radio', name='group45', value='val3')
																		span DFDF
																	label.option
																		input(type='radio', name='group45', value='val4')
																		span GHJGHJ
																	label.option
																		input(type='radio', name='group45', value='val5')
																		span GHJ
																	label.option
																		input(type='radio', name='group45', value='val6')
																		span HGJGHJ
																	label.option
																		input(type='radio', name='group45', value='val7')
																		span GHJHG
																	label.option
																		input(type='radio', name='group45', value='val8')
																		span HGJG
																	label.option
																		input(type='radio', name='group45', value='val9')
																		span 3HGJ
										.input-item.s-50.depends-on
											.input-wrapper.req
												.label Специалист
												.select-check.js-select-custom
													button.selects(data-placeholder='Выберите')
														span.btn-text Выберите
														i.select-img
													.dropdown-target
														.dropdown-inner
															.dropdown-content
																.select-u-body.select-list
																	label.option
																		input(type='radio', name='group4', value='val1')
																		span Специалист1
																	label.option
																		input(type='radio', name='group4', value='val2')
																		span Специалист2
																	label.option
																		input(type='radio', name='group4', value='val3')
																		span Специалист 3
																	label.option
																		input(type='radio', name='group4', value='val4')
																		span GHJGHJ
																	label.option
																		input(type='radio', name='group4', value='val5')
																		span GHJ
																	label.option
																		input(type='radio', name='group4', value='val6')
																		span HGJGHJ
																	label.option
																		input(type='radio', name='group4', value='val7')
																		span GHJHG
																	label.option
																		input(type='radio', name='group4', value='val8')
																		span HGJG
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
																	label.option
																		input(type='radio', name='group4', value='val9')
																		span 3HGJ
										hr.divider
										.input-item.s-50
											.input-wrapper
												label Дата приема
												input.input-main.datepicker(type="text",placeholder='Отчество',data-validation="length required",data-validation-length='min2',data-validation-error-msg="Не выбрано")
										.input-item.s-50
											.input-wrapper.req
												.label Время приема
												.select-check.js-select-custom
													button.selects(data-placeholder='Выберите')
														span.btn-text Выберите
														i.select-img
													.dropdown-target
														.dropdown-inner
															.dropdown-content
																.select-u-body.select-list
																	label.option
																		input(type='radio', name='group47', value='val1')
																		span 9:00
																	label.option
																		input(type='radio', name='group47', value='val2')
																		span 9:30
																	label.option
																		input(type='radio', name='group47', value='val3')
																		span 10:00
																	label.option
																		input(type='radio', name='group47', value='val4')
																		span 10:30
																	label.option
																		input(type='radio', name='group47', value='val5')
																		span 11:00
																	label.option
																		input(type='radio', name='group47', value='val6')
																		span 11:30
																	label.option
																		input(type='radio', name='group47', value='val7')
																		span 12:00
																	label.option
																		input(type='radio', name='group47', value='val8')
																		span 12:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 13:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 13:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 14:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 14:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 15:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 15:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 16:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 16:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 17:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 17:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 18:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 18:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 19:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 19:30
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 12:00
																	label.option
																		input(type='radio', name='group47', value='val9')
																		span 12:30
										.input-item.s-100
											.input-wrapper
												label Комментарий
												textarea.input-main(rows='5',placeholder='Комментарий') 
										.input-item.s-100
											.input-wrapper
												.select-u-item
													label.input_label
														span.input_main
															input.input-real(type="checkbox",name='rules',value = 'y',data-validation="required",data-validation-error-msg="Это обязательное поле")
															span.input-checked
														span.input-text Согласен на обработку персональных данных
										.form-footer
											.form-footer-notify
												.text Поля обязательные для заполнения
											button(type='submit').btn.yell Записаться
					//div нужен
					.content-column-right


























	