extends _layout

block title
	title Руководство

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Институт красоты
				a(href="#").content-bread-item.text2 Руководство
			.content-main
				.title.h1 Руководство
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black.active институт красоты
							.menu-add-items
								a(href="#").menu-add-link.active
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black отзывы
						li.menu-nav-item
							a(href="#").link-black Записаться на приём

			.aside-content
				.persona-wrapper
					+person('Шароватова Лидия Владиславовна','Генеральный директор','')
					+person('Катина Светлана Александровна','Заместитель генерального директора по медицинской части','')
					+person('Жукова Ирина Краснославовна','Заместитель генерального директора по науке, врач-дерматолог-косметолог, кандидат медицинских наук','123')
					+person('Возжаева Людмила Аркадьевна','Заместитель генерального директора по АХЧ','')
					+person('Швечкова Надежда Ивановна','Главная медицинская сестра','')




























	