extends _layout

block title
	title Лицензии

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		//для врачей вешаем класс .personal
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Лицензии
			.content-main
				.title.h1 Лицензии
	.box
		.aside-wrapp
			// а вот тут ссылки уже ссылки а не якоря
			// помимо самой ссылки .active надо вешать еще и на дочернюю ссылку если мы на страницах связанных с институтом красоты
			aside.aside-menu(data-sticky_parent)
				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Об институте
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#").link-black.active институт красоты
							.menu-add-items
								a(href="#").menu-add-link
									.link-black Руководство
								a(href="#").menu-add-link
									.link-black Миссия
								a(href="#").menu-add-link
									.link-black История
								a(href="#").menu-add-link.active
									.link-black Лицензии
						li.menu-nav-item
							a(href="#").link-black Исследовательский центр
						li.menu-nav-item
							a(href="#").link-black Научный центр
						li.menu-nav-item
							a(href="#").link-black Косметическое производство
						li.menu-nav-item
							a(href="#").link-black партнёры
						li.menu-nav-item
							a(href="#").link-black Рекламодателям
						li.menu-nav-item
							a(href="#").link-black вакансии
						li.menu-nav-item
							a(href="#").link-black вопрос-ответ
						li.menu-nav-item
							a(href="#").link-black отзывы
						li.menu-nav-item
							a(href="#").link-black Записаться на приём

			.aside-content
				.organ-wrapper
					.organ-head
						.organ-head-name
							.title.h2 надзорные органы
							.organ-head-btn
								a(href="#").btn
									svg(data-name='Layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26.26 23.96')
										defs
											style.
												.cls-12{fill:#231f20;}.cls-22{fill:none;stroke:#231f20;stroke-miterlimit:10;}
										title pdf
										path.cls-12(d='M9.26,1h10A.46.46,0,0,0,19.75.5a.5.5,0,0,0-.5-.5h-10a1,1,0,0,0-1,1v9.36h1Z')
										path.cls-12(d='M25.75,6.49a.47.47,0,0,0-.49.47V23l-16,0V19.46h-1v3.48a1,1,0,0,0,1,1h16a1,1,0,0,0,1-1V7A.5.5,0,0,0,25.75,6.49Z')
										path.cls-12(d='M25.76,7.49v0h-6.5A.48.48,0,0,1,18.75,7V.5A.5.5,0,0,1,19.6.15L26,6.58a.5.5,0,0,1-.29.91Zm-6-1h4.79L19.75,1.7Z')
										rect.cls-22(x='0.5', y='10.38', width='16.58', height='9.08', rx='2', ry='2')
										path.cls-12(d='M4.33,15.49v1.95H3.71v-5H5.3a1.44,1.44,0,0,1,1.09.42A1.54,1.54,0,0,1,6.78,14a1.52,1.52,0,0,1-.38,1.11,1.46,1.46,0,0,1-1.06.4Zm0-.54h1a.81.81,0,0,0,.64-.25A1,1,0,0,0,6.16,14a1.07,1.07,0,0,0-.23-.72A.78.78,0,0,0,5.3,13h-1Z')
										path.cls-12(d='M7.59,17.44v-5H8.77a1.71,1.71,0,0,1,1.35.55,2.24,2.24,0,0,1,.48,1.53v.83a2.19,2.19,0,0,1-.49,1.53,1.82,1.82,0,0,1-1.42.54ZM8.21,13v3.9h.5a1.16,1.16,0,0,0,1-.38A1.79,1.79,0,0,0,10,15.4v-.88a1.8,1.8,0,0,0-.3-1.15A1.11,1.11,0,0,0,8.77,13Z')
										path.cls-12(d='M13.89,15.24H12.21v2.2h-.63v-5h2.59V13h-2V14.7h1.68Z')
									span Правила для пациентов
					.organ-item
						.organ-item-inner
							.title.h4 Департамент здравоохранения г. Москвы:
							.organ-item-block
								.text.bold Адрес:
								.text2 Москва, Оружейный переулок, д.43
							.organ-item-block
								.text.bold Телефон:
								.text2 +7 (499) 973-09-24
							.organ-item-block
								.text.bold Горячая линия:
								.text2 +7 (499) 973-09-24
					.organ-item
						.organ-item-inner
							.title.h4 Федеральная служба по надзору в сфере здравоохранения:
							.organ-item-block
								.text.bold Адрес:
								.text2 109074, г. Москва, Славянская площадь, дом 4, стр.1 
							.organ-item-block
								.text.bold Телефон:
								.text2 +7 (499) 973-09-24
					.organ-item
						.organ-item-inner
							.title.h4 Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека г. Москве:
							.organ-item-block
								.text.bold Адрес:
								.text2 129626, г. Москва, Графский пер., д.4/9 
							.organ-item-block
								.text.bold Телефон:
								.text2 +7 (495) 698-45-38
					.organ-item
						.organ-item-inner
							.title.h4 Отдел Защиты Прав Потребителей Территориального Отдела Территориального Управления по г.Москве Роспотребнадзора ЮЗАО:
							.organ-item-block
								.text.bold Адрес:
								.text2 117485, ул. Бутлерова, д.7А
							.organ-item-block
								.text.bold Телефон:
								.text2 +7 (495) 779-32-44
				.organ-wrapper.sertificat-slider
					.organ-head
						.organ-head-name
							.title.h2 Наши сертификаты
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности
					.sertificat-item
						a(href="img/content/big.jpg",data-sub-html='<p class="text2">Лицензия на осуществление медицинской деятельности</p>').sertificat-item-inner
							.sertificat-item-img
								img(src="img/content/d1.jpg", alt="")
							.sertificat-item-text
								.text2 Лицензия на осуществление медицинской деятельности























	