extends _layout

block title
	title Клиники

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Клиники
			.content-main
				.title.h1 Клиники
	.box
		.aside-wrapp.inner
			aside.aside-menu(data-sticky_parent)
				// тут модификатор .list-bold

				.aside-stick(data-sticky_column).list-bold.js-dropdown-parent
					.aside-title.title.h4.js-dropdown Прайс-лист
					ul.menu-nav.js-dropdown-target
						li.menu-nav-item
							a(href="#1").link-black.js-scroll-to Арбат
						li.menu-nav-item
							a(href="#2").link-black.js-scroll-to Комсомольский пр-т
			.aside-content
				.content-column-wrap.special
					.content-column-content
						.content-column-content-inner
							.clinic-block#1
								h1 Клиника на арбате
								p.caption  История первого в стране лечебного учреждения косметологического профиля началась в 1930 году. Тогда по инициативе  П.С. Жемчужиной в Москве был открыт первый кабинет врачебной косметики.
									mark.caption-content
										span.date 
											span 1930
											|год
										i основание Института Красоты на Арбате 
								.content-slider-wrap
									.content-slider-slider
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
									.content-slider-nav
										.nav-arrows
								h3 Руководителем и организатором первого кабинета стала С.Я. Газарова.
								p В перечне услуг был массаж лица по методике доктора Поспелова, гигиенический и косметический массажи, а также уход за кожей головы и за волосами.

								.organ-item
									.organ-item-inner
										.title.h4 Контакты
										.organ-item-block
											.text.bold Адрес:
											.text2 119002, Москва, Арбат
												br
												|Малый Николопесковский переулок, д.8
										.organ-item-block
											.text.bold Телефон:
											a(href="#").text2 +7 (499) 973-09-24
										.organ-item-block
											.text.bold Режим работы:
											.text2 Пн-пт 9:00–21:00   Сб-вс 10:00–20:00
							.clinic-block#2
								h1 Клиника на комсамольском пр-те
								p.caption  История первого в стране лечебного учреждения косметологического профиля началась в 1930 году. Тогда по инициативе  П.С. Жемчужиной в Москве был открыт первый кабинет врачебной косметики.
									mark.caption-content
										span.date 
											span 1930
											|год
										i основание Института Красоты на Арбате 
								.content-slider-wrap
									.content-slider-slider
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
										.content-item
											img(src="img/content/1.jpg", alt="fsdfsd")
									.content-slider-nav
										.nav-arrows
								h3 Руководителем и организатором первого кабинета стала С.Я. Газарова.
								p В перечне услуг был массаж лица по методике доктора Поспелова, гигиенический и косметический массажи, а также уход за кожей головы и за волосами.
								.organ-item
									.organ-item-inner
										.title.h4 Контакты
										.organ-item-block
											.text.bold Адрес:
											.text2 119002, Москва, Арбат
												br
												|Малый Николопесковский переулок, д.8
										.organ-item-block
											.text.bold Телефон:
											a(href="#").text2 +7 (499) 973-09-24
										.organ-item-block
											.text.bold Режим работы:
											.text2 Пн-пт 9:00–21:00   Сб-вс 10:00–20:00
					//div нужен
					.content-column-right




























	