extends _layout

block title
	title Ошибка 404

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Ошибка 404
			.content-main
				.title.h1 Ошибка 404
	.box
		.content-center
			.content-center-inner
				.title.h2 Страница не найдена
				.text Такое иногда случается. Самые вероятные причины - устаревшая ссылка или страница была удалена автором. Перейдите на 
					a(href="#") главную страницу 
					| и попробуйте начать оттуда.
	.nav-wrapper
		.nav-btn-wrap
			a(href="#").nav-btn
				.nav-btn-inner
					svg(class="icon icon-drop")
						use(xlink:href="#arr-circle" xmlns:xlink="http://www.w3.org/1999/xlink")
				span Назад




























	