extends _layout

block title
	title Поиск

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Поиск
			.content-main
				.title.h1 Поиск
	.box
		.content-center
			.content-center-inner
				.search-container
					.o-menu-search
						form.search__wrapper
							input(type="text",placeholder='Поиск по сайту',required="required").search__input
							button(type='submit').search__btn
								i.search-icon
									svg(class="icon icon-drop")
										use(xlink:href="#lupa" xmlns:xlink="http://www.w3.org/1999/xlink")
					.search-head
						.title.h2 По вашему запросу ничего не найдено




























	