extends _layout

block title
	title Карта сайта

block content
	.wrapper.content-wrapper(style='background-image:url(img/bgmain.jpg)')
		.box.content-head
			.content-bread
				a(href="#").content-bread-item.text2 Главная
				a(href="#").content-bread-item.text2 Карта сайта
			.content-main
				.title.h1 Карта сайта
	.box
		.mapcont-wrapper
			.mapcont-row
				.map-item.s-100
					.map-item-head
						a(href="#").title.h2.link Услуги и цены
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					//колонки в блоке, как правило 2 на элемент
					.map-item-col-l
						//елемент в колонкеб может быть несколько на колонку
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Косметология
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Инъекционная косметология
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Аутологичное клеточное омоложение рук плазмой
									li
										a(href="#") Лечение Розацеа
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь

							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Аппаратная косметология
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Аутологичное клеточное омоложение рук плазмой
									li
										a(href="#") Лечение Розацеа
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация

							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Лазерная косметология
								ul
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация


							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Эстетическая косметология
								ul
									li
										a(href="#") Лечение угревой болезни
									li
										a(href="#") Лечение Розацеа
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Детская косметология
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Дермотология
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Аутологичное клеточное омоложение рук плазмой
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Трихология
								ul
									li
										a(href="#") Вросший ноготь
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name +1


						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Хирургия
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Эстетическая хирургия
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Аутологичное клеточное омоложение рук плазмой
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Пластическая хирургия
								ul
									li
										a(href="#") Вросший ноготь
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Малоинвизивная хирургия


						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Клинико-диагностический центр
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Терапевт
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Гинеколог
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Аутологичное клеточное омоложение рук плазмой
									li
										a(href="#") Инъекционная контурная пластика
									li
										a(href="#") Биоревитализация
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Диетолог
								ul
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Флебология
								ul
									li
										a(href="#") Лечение угревой болезни
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Микология
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Трихология
								ul
									li
										a(href="#") Диагностика кожи
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Массаж
								ul
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Эндокринология
								ul
									li
										a(href="#") Лечение угревой болезни
							.map-item-col-elem_box
								a(href="#").map-item-col-elem_box-name Лабораторная диагностика
								ul
									li
										a(href="#") Диагностика кожи
									li
										a(href="#") Удаление родинок и папиллом
									li
										a(href="#") Вросший ноготь
									li
										a(href="#") Биоревитализация


						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Прайс-лист

			.mapcont-row
				.map-item.s-100.list-single
					.map-item-head
						a(href="#").title.h2.link Специалисты
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Хирургия
							ul
								li
									a(href="#") Отделение пластической и реконструктивно-восстановительной хирургии
								li
									a(href="#") Отделение малоинвазивной хирургии и лазерных технологий
								li
									a(href="#") Отделение анестезиологии и реанимации
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Консультативно-диагностический центр персонализированной медицины
							ul
								li
									a(href="#") Кабинет врача-терапевта
								li
									a(href="#") ОКабинет превентивной и восстановительной медицины
								li
									a(href="#") Кабинет флебологической реабилитации и УЗИ-диагностики
								li
									a(href="#") Кабинет физиотерапии
								li
									a(href="#") Приемное отделение
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Косметология
							ul
								li
									a(href="#") Отделение Аппаратной косметологии
								li
									a(href="#") Отделение детской косметологии
								li
									a(href="#") Отделение диагностики кожи
			.mapcont-row
				.map-item.s-100.col-3
					.map-item-head
						a(href="#").title.h2.link Об институте
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Институт красоты
							ul
								li
									a(href="#") Руководство
								li
									a(href="#") Миссия
								li
									a(href="#") История
								li
									a(href="#") Лицензии
							.map-item-col-elem
								a(href="#").map-item-col-name
									.link-black Исследовательский центр
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Научный центр
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Косметическое производство
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Партнёры
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Рекламодателям
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Вакансии
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Вопрос-ответ
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Отзывы
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Записаться на приём
			.mapcont-row
				.map-item.s-33
					.map-item-head
						a(href="#").title.h2.link Акции
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Акции
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Новости
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Мероприятия				
				.map-item.s-33
					.map-item-head
						a(href="#").title.h2.link Клиники
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Клиника на Арбате 
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Клиника на Партизанском пр-те		
				.map-item.s-33
					.map-item-head
						a(href="#").title.h2.link Контакты
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
					.map-item-col
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Арбат 
						.map-item-col-elem
							a(href="#").map-item-col-name
								.link-black Партизанский пр-т	
			.mapcont-row
				.map-item.s-33
					.map-item-head
						a(href="#").title.h2.link Поиск
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
				.map-item.s-33
					.map-item-head
						a(href="#").title.h2.link Клиники
							.link-arr
								svg(class="icon icon-drop")
									use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")























	