extends _layout

block title
	title Index

block content
	.wrapper.index-wrapper(style='background-image:url(img/bgmain.jpg)')
		.box
			.index-wrapper-inner
				.index-main
					.title.h1 Клиника активного долголетия
					.text-bold «Институт Красоты» на Арбате
					.card-wrapper
						+card('1.png','Нитевой лифтинг','Акция')
							p.text Своевременное восстановление красоты вашего лица по 30% скидке весь январь
						+card('2.png','Скидка до 20% на Аппаратную косметологию','Акция')
				.index-aside
					.index-aside-inner
						.doctor-slider-wrapper
							.doctor-slider-container.js-slider-doctor
								.doctor-slider-container-item(style='background-image:url(img/vrach.png)')
								.doctor-slider-container-item(style='background-image:url(img/vrach.png)')
								.doctor-slider-container-item(style='background-image:url(img/vrach.png)')
								.doctor-slider-container-item(style='background-image:url(img/vrach.png)')
						//2 слайдер врачей
						.doctor-slider-block
							.doctor-slider-add.js-slider-doctor-add
								.doctor-slider-add-item
									.doctor-slider-add-item-inner
										.text.bold Анна Давыдик
										.text Заведующая отделением, физиотерапевт, косметолог
								.doctor-slider-add-item
									.doctor-slider-add-item-inner
										.text.bold Анна Давыдик
										.text Заведующая отделением, физиотерапевт, косметолог,физиотерапевт, косметолог
								.doctor-slider-add-item
									.doctor-slider-add-item-inner
										.text.bold Анна Давыдик
										.text Заведующая отделением, физиотерапевт, косметолог
								.doctor-slider-add-item
									.doctor-slider-add-item-inner
										.text.bold Snoop Dog
										.text Рэпер, братан, душа компании, знает где достать.
							.nav-dots
	.box.box-section
		.box-section-text
			.box-section-text-title
				a(href="#").title.h2.link Услуги 
					.link-arr
						svg(class="icon icon-drop")
							use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
			.box-section-text-quote
				blockquote Мы постоянно расширяем арсенал методик,  углублённо изучаем состояние здоровья пациента,  разрабатываем комплексные программы совершенствования внешности.
		.romb-slider-wrap
			.romb-slider-inner
				.romb-slider-main
					+romb('1.png','Косметология')
					+romb('2.png','Пластическая хирургия')
					+romb('3.png','Коррекция фигуры')
					+romb('1.png','Косметология')
					+romb('2.png','Пластическая хирургия')
					+romb('3.png','Коррекция фигуры')
					+romb('1.png','Косметология')
					+romb('2.png','Пластическая хирургия')
					+romb('3.png','Коррекция фигуры')
					+romb('1.png','Косметология')
					+romb('2.png','Пластическая хирургия')
					+romb('3.png','липосакцияяяяяяя фигуры')
				.nav-arrows
	.wrapper.gray
		.block-cover-img(style='background-image:url(img/vrach-bg.png)')
		.box
			.half-block
				.half-aside
					form(action="").yellow-form.js-validate
						//ну мало ли поменять захотят, да?
						.yellow-form-img(style='background-image:url(img/icons/i-mail.png)')
						.yellow-form-text.text-bold Будьте в курсе всех главных акций и событий нашей клиники
						.yellow-form-main
							input(type='email', placeholder='Ваш e-mail',data-validation='email',data-validation-error-msg='Неверный E-mail').yellow-form-main-input
							button(type='submit', value='Отправить').yellow-form-main-submit
				.half-main
					.info-block
						.info-block-inner
							a(href="#").title.h2.link Институт красоты на Арбате
								.link-arr
									svg(class="icon icon-drop")
										use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
							.text За долгие годы своей истории «Институт красоты» стал научным центром, в котором получили рождение косметологические и хирургические методы лечения. Он был первым центром профессиональной косметологии и пластической хирургии в России. 
						.info-block-aside
							.hexa-block
								.hexa
									.hexa-in
								.text.bold В 2015 году отметил своё 85-летие
					.feachure-list
						.feachure-item-wrap
							.feachure-item
								img(src="img/icons/i-clock.png", alt="clock")
								.text-bold 87 лет практики для вас
						.feachure-item-wrap
							.feachure-item
								img(src="img/icons/i-pin.png", alt="clock")
								.text-bold Удобное расположение
						.feachure-item-wrap
							.feachure-item
								img(src="img/icons/i-list.png", alt="clock")
								.text-bold Лучшие специалисты
	.box.news-box
		.news-title
			a(href="#").title.h2.link Новости
				.link-arr
					svg(class="icon icon-drop")
						use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
		.news-wrapper
			+news('Изменение режима работы в выходные дни','15 января 2017','1.png')
			+news('Скоро «Институт Красоты на Арбате» переезжает в новое здание','14 января 2017','2.png')
			+news('AGENDA - лаборатория красоты у Вас дома','13 января 2017','')
			+news('Внимание! У нас сменился номер телефона и сайт!','13 января 2017', '')
	.box.box-section
		.box-section-text
			.box-section-text-title
				a(href="#").title.h2.link Партнёры
					.link-arr
						svg(class="icon icon-drop")
							use(xlink:href="#link-arr" xmlns:xlink="http://www.w3.org/1999/xlink")
			.box-section-text-quote
				blockquote Мы активно сотрудничаем с коллегами в смежных областях, оказываем корпоративные услуги.
		.partner-slider
			.partner-slider-inner
				+partner('1.png')
				+partner('2.png')
				+partner('3.png')
				+partner('4.png')
				+partner('5.png')
				+partner('6.png')
			.nav-arrows






	



























	