extends _layout

block title
	title Index

block content
	p.title.h1 Клиника активного
	p.title.h2 Услуги
	p.title.h3 Косметология
	p.text Мы постоянно расширяем арсенал методик,  углублённо изучаем 
		br
		|состояние здоровья пациента,  разрабатываем комплексные
		br
		|программы совершенствования внешности. 
	p.text-bold Будьте в курсе всех главных 
		br
		|акций и событий нашей
		br
		| клиники
	p.text-bold «Институт Красоты» на Арбате
	a(href="#").btn Задать вопрос врачу
	a(href="#").btn.btn-big Обратная связь
	a(href="#").btn.btn-big.yell Записаться на прием
	a(href="#").btn.yell.i-left Записаться на прием
	



























	