.modal-container
	.modal-container-header
		.modal-container-header-img
			img(src="img/map/map.png", alt="")
		i.small-link.pop-close.closePopup
	.modal-container-content
		.title.h4 Схема прохода от метро «Рижская»
		.road-slider-wrap
			.road-slider-slider
				.content-item
					img(src="img/content/1.jpg", alt="fsdfsd")
				.content-item
					img(src="img/content/1.jpg", alt="fsdfsd")
				.content-item
					img(src="img/content/1.jpg", alt="fsdfsd")
			.content-slider-nav
				.nav-arrows
			.content-slider-add
				.content-slider-add-item
					p Выход из метро Рижская – прямо перед вами подземный переход, слева Новорижская эстакада (ТТК). Спуститесь в подземный переход, пройдите прямо по подземному переходу до второго поворота, сверните на право.
				.content-slider-add-item
					p Выход из метро Рижская – прямо перед вами подземный переход, слева Новорижская эстакада (ТТК). Спуститесь в подземный переход, пройдите прямо по подземному переходу до второго поворота, сверните на право.
				.content-slider-add-item
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus error, eligendi nostrum ex, voluptatem unde obcaecati veniam soluta, amet cupiditate sed eum labore molestias blanditiis voluptatibus. Expedita officiis velit, quo?	




























	