.wrap
	.modal-container.sale
		.modal-container-header
			.small-block.small
				span Акция
			.title.h4 «консультация пластического хирурга»
		i.small-link.pop-close.closePopup
		.modal-container-content
			.content-column-content
				.content-column-content-inner
					.content-slider-wrap.caption
						.content-slider-slider
							.content-item
								img(src="img/content/1.jpg", alt="fsdfsd")
							.content-item
								img(src="img/content/1.jpg", alt="fsdfsd")
							.content-item
								img(src="img/content/1.jpg", alt="fsdfsd")
						.content-slider-nav
							.nav-arrows
						.caption-content
							b Только современные диагностические системы
							img(src="img/content/d14.png", alt="")
							i SOFT Plus — многофункциональный программно-аппаратный комплекс.
					p  В Институте Красоты практикуется подбор косметических средств и назначение врачом косметологом программ коррекции состояния кожи на основании 
						a(href="#") компьютерной диагностики
						|.
					p  Поэтомуво время первичной консультации мы проводим профессиональную диагностику состояния Вашей кожи и на основании полученной информации рекомендуем максимально эффективные косметологические процедуры.
					p  Далее на всех этапах лечения мы проводиммониторинг динамики его эффективности, визуализацию и сравнительный анализ состояния кожи до и после процедур.
					blockquote 
						b По вопросам трудоустройства обращаться к начальнику отдела кадров:
						p Кириллиной Татьяне Вячеславовне
							br 
							| 
							a(href="#").text2 +7 (495) 212-06-64 &nbsp;&nbsp;&nbsp;
							a(href="#")  kirillina@institut-krasoty.ru



























	